@import "node_modules/bootstrap-scss/bootstrap.scss";
@import "blocks/variables.scss";
@import "blocks/mixins.scss";
@import "blocks/normalize.scss";
@import "blocks/sprite-png.scss";
@import "blocks/fonts.scss";
@import "blocks/nice-select.scss";
@import "blocks/slick.scss";
@import "blocks/slick-theme.scss";

// PAGE COMPONENTS
@import "blocks/header.scss";
@import "blocks/index.scss";
@import "blocks/footer.scss";
@import "blocks/internal.scss";
@import "blocks/article.scss";
@import "blocks/tests.scss";
@import "blocks/search.scss";
@import "blocks/register.scss";
@import "blocks/modals.scss";
@import "blocks/video.scss";
@import "blocks/video-js.min.scss";

.container {
	max-width: 72% !important;

	@include r(1600) {
		max-width: 90% !important;

		@include r(1200) {
			max-width: 100% !important;
		}
	}
}

.icon {
	display: inline-block;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;

}

a {
	text-decoration: none !important;
	display: inline-block;
}

.minheight {
	min-height: 45vh;
}

ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

.icon-chrome {
	@include sprite($chrome);
}

.icon-placeholder {
	@include sprite($placeholder);
}