<footer>
    <div class="footer">
        <div class="container">
            <div class="infos">

                <div class="footer_menu">

                    <div class="knowladge">
                        <a href="../index.html"><img src="../img/LOGO.svg" alt=""></a>
                    </div>
                    <div class="footer_list">
                        <ul>
                            <li><a href="../article.html">Maqolalar</a></li>
                            <li><a href="../webinars.html">Vebinarlar</a></li>
                            <li><a href="../tests.html">Testlar</a></li>
                            <li><a href="../video-courses.html">Videokurslar</a></li>
                            <li><a href="../contact.html">Aloqa</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer_info">
                    <div class="info_r">
                        <a href="#">
                            <img src="../img/location.8 1.png" alt="">
                            <p>Ташкентская медицинская академия 100109, г.Ташкент ул. Фароби 2</p>

                        </a>
                        <a href="#">
                            <img src="../img/phone-call-outgoing.5 1.png" alt="">

                            <p> +998 (78) 150 78 25</p>
                        </a>
                        <a href="#">
                            <img src="../img/mail.26 1.png" alt="">
                            <p> info@bilim.tma.uz</p>

                        </a>
                    </div>
                    <ul class="info_l">
                        <li class="social_right"><a href="#"><i class="fab fa-telegram"></i></a></li>
                        <li class="social_right"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social_right"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="social_right"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="social_right"><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="developed">
                <p>© 2021 Ташкентская медицинская академия</p>
                <a href="https://simplex.uz/">Разработано в
                    <img src="../img/simplex_logo.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
<script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
<script src="js/script-min.js"></script>


</body>

</html>