.all_article {
    background: #F4F7FF;

    .article_menus {
        .a_menu {
            padding-bottom: 60px;

            @include r(768) {
                padding-bottom: 8px;
                display: flex;
                align-items: center;
                overflow: auto;
                gap: 10px;

                margin-bottom: 20px;
            }

            .click_all {
                padding: 12px 14px !important;

                &:hover {
                    padding: 12px 14px;
                }
            }

            .clickable {
                margin-bottom: 12px;
                padding: 6px 10px;
                border-radius: 10px;
                background: #FFF;
                margin-right: 12px;
                border: 1px solid #fff;
                color: #262733;
                text-align: center;
                font-family: Inter-Regular;
                font-size: 14px;

                @include r(768) {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    height: 64px;
                    padding: 0 12px;
                }



                &:hover {
                    border-radius: 10px;
                    border: 1px solid #BADFFB;
                    background: #F5FBFF;
                }

                span {
                    color: #A8A9AD;
                    font-family: Inter-Regular;
                    font-size: 12px;
                    font-style: italic;
                    padding-left: 6px;
                }
            }

            .active {
                border-radius: 10px;
                border: 1px solid #1895F3;
                background: #E8F4FE;
            }

            .clickable_active {
                border-radius: 10px;
                border: 1px solid #1895F3;
                background: #E8F4FE;
            }

            img {
                width: 44px !important;
                height: 34px !important;
                padding-right: 10px;
            }
        }
    }

    .article_product {
        padding-bottom: 10px;

        .a_products {
            padding-bottom: 40px;

            @include r(768) {
                padding-bottom: 26px;

                @include r(420) {
                    padding-bottom: 18px;

                    @include r(394) {
                        padding-bottom: 14px;
                    }
                }
            }
        }
    }
}