@font-face {
  font-family: "Inter-Extrabold";
  src: url("../fonts/Inter-ExtraBold.ttf") format("ttf");
  src: url("../fonts/Inter-ExtraBold.woff") format("woff");
  // src: url("../fonts/Inter-ExtraBold.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter-Medium.ttf") format("ttf");
  src: url("../fonts/Inter-Medium.woff") format("woff");
  // src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold.ttf") format("ttf");
  src: url("../fonts/Inter-Bold.woff") format("woff");
  // src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("../fonts/Inter-SemiBold.ttf") format("ttf");
  src: url("../fonts/Inter-SemiBold.woff") format("woff");
  // src: url("../fonts/Inter-Semibold.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.ttf") format("ttf");
  src: url("../fonts/Inter-Regular.woff") format("woff");
  // src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("ttf");
  font-style: normal;
}