// Colors
$bg-color: #1694F1;
$dot-color: #ffffff;

// Dimensions
$dot-size: 0.8px;
$dot-space: 19px;

.footer {
    background-color: #1694F1;
    background:
        linear-gradient(90deg, $bg-color (
            $dot-space - $dot-size),
        transparent 1%) center,
        linear-gradient($bg-color (
            $dot-space - $dot-size),
        transparent 1%) center,
        $dot-color;
    background-size: $dot-space $dot-space;

    .infos {
        padding: 21px 0 36px;

        @include r(576) {
            padding: 12px 6px 22px;

        }

        .footer_menu {
            display: flex;
            align-items: center;
            padding-bottom: 25px;

            @include r(420) {
                padding-bottom: 0;
                display: block;
            }

            .footer_list {
                padding-left: 76px;

                @include r(479) {
                    padding: 24px;
                    overflow: hidden;

                    @include r(420) {
                        padding: 0;
                    }
                }

                ul {
                    display: flex;

                    @include r(576) {
                        display: flex;
                        flex-wrap: wrap;

                        @include r(479) {
                            display: flex;
                            justify-content: flex-start;
                            flex-wrap: wrap;

                            @include r(420) {
                                padding: 12px 0;
                            }
                        }
                    }

                    li {
                        a {
                            padding-right: 25px;
                            color: #F4F7FF;
                            font-family: Inter-Medium;
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .footer_info {
            display: flex;
            justify-content: space-between;

            @include r(576) {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }

            .info_r {
                display: flex;
                align-items: center;

                @include r(576) {
                    display: block;
                }

                a:first-child {
                    width: 36%;

                    @include r(576) {
                        width: 60%;
                    }
                }

                a {
                    display: flex;
                    align-items: center;
                    padding-right: 14px;

                    @include r(576) {
                        padding-right: 0;
                        padding-bottom: 8px;

                        @include r(420) {
                            padding-bottom: 12px;
                        }

                        &:hover {
                            transition: .8s;
                            padding-left: 24px;
                            width: 70%;
                        }
                    }

                    p {
                        margin: 0;
                        color: #FFF;
                        font-family: Inter-Regular;
                        font-size: 14px;

                        @include r(576) {
                            font-size: 12px;


                        }
                    }

                    img {
                        padding-right: 8px;
                    }
                }

            }

            .info_l {
                display: flex;
                align-items: center;
                gap: 14px;
                margin: 0;
                padding: 0;

                .social_right {
                    margin: 0;
                    padding: 0;

                    a {
                        font-size: 24px;
                        color: #fff;

                        &:hover {
                            color: #fff;
                        }
                    }


                }
            }
        }
    }
}

.footer_bottom {
    background: #fff;

    .developed {
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            color: #188EEC;
            font-size: 12px;
            font-family: Inter-Regular;

            @include r(420) {
                font-size: 8px;
                width: 50%;
            }
        }

        a {
            font-family: Inter-Regular;
            color: #070D19;
            font-size: 12px;

            @include r(420) {
                font-size: 8px;
                width: 45%;
            }

            img {
                padding-left: 8px;

                @include r(420) {
                    padding-left: 4px;
                }
            }
        }
    }
}