// Colors
$bg-color: #1694F1;
$dot-color: #ffffff;

// Dimensions
$dot-size: 0.8px;
$dot-space: 19px;

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
        // background-color: red;
        width: 90%;
        // height: 100px;
        // animation: logo 2s ease infinite;

    }

    @keyframes logo {
        0% {
            transform: scale(1);
        }

        70% {
            transform: scale(1.5);

        }

        100% {
            transform: scale(1);

        }
    }
}

.header {
    .map_logo {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;

        .header_left {

            .head_list_item {
                margin: 0;
                padding: 0;

                .head_item_link {
                    font-size: 24px;
                    color: #17B5FF;

                    span {
                        margin-right: 30px;
                        position: relative;
                        bottom: 3px;
                        color: #000;
                        font-size: 12px;
                        font-family: Inter-Medium;
                    }


                }

            }
        }

        .header_logo {
            margin: 0;
            padding: 0;

            .head_list_item {
                margin: 0;
                padding: 0;

                a {
                    font-size: 24px;
                    color: #17B5FF;

                    span {
                        margin-right: 30px;
                        position: relative;
                        bottom: 3px;
                        color: #000;
                        font-size: 12px;
                        font-family: Inter-Medium;
                    }

                    &:hover {
                        color: #17B5FF;
                    }
                }

            }
        }

        .header_logo {
            display: flex;
            align-items: center;
            gap: 14px;
        }
    }

    .header_bottom {
        background-color: #1694F1;
        background:
            linear-gradient(90deg, $bg-color (
                $dot-space - $dot-size),
            transparent 1%) center,
            linear-gradient($bg-color (
                $dot-space - $dot-size),
            transparent 1%) center,
            $dot-color;
        background-size: $dot-space $dot-space;
        transition: .5s;


        .header_menus {
            padding: 25px 0;
            display: flex;
            justify-content: space-between;


            .header_menu {
                display: flex;
                align-items: center;

                .header_menu_list {
                    padding-left: 76px;

                    @include r(992) {
                        display: none;


                    }

                    .header_menus_item {
                        display: flex;

                        @include r(576) {
                            display: block !important;
                        }

                        a {
                            padding-right: 25px;
                            color: #F4F7FF;
                            font-family: Inter-Medium;
                            font-size: 15px;

                            @include r(576) {
                                padding-bottom: 12px;
                            }
                        }
                    }
                }
            }

            .header_search {
                display: flex;
                justify-content: center;
                align-items: center;



                .toggle-menu {
                    width: 50px;
                    height: 50px;
                    position: relative;
                    top: 0px;
                    z-index: 1000;
                    display: none;

                    @include r(992) {
                        display: block;

                    }
                }

                .toggle-menu i {
                    position: absolute;
                    display: block;
                    height: 2px;
                    background: #fff;
                    width: 30px;
                    left: 0px;
                    -webkit-transition: all .4s;
                    transition: all .4s;


                }

                .toggle-menu i:nth-child(1) {
                    top: 16px;
                }

                .toggle-menu i:nth-child(2) {
                    top: 24px;
                }

                .toggle-menu i:nth-child(3) {
                    top: 32px;
                }

                .toggle-menu.active i:nth-child(1) {
                    top: 25px;
                    -webkit-transform: rotateZ(45deg
                    );
                transform: rotateZ(45deg);
            }

            .toggle-menu.active i:nth-child(2) {
                background: transparent;
            }

            .toggle-menu.active i:nth-child(3) {
                top: 25px;
                -webkit-transform: rotateZ(-45deg);
                transform: rotateZ(-45deg);
            }

            .menu_phone {
                display: none;

                @include r(992) {
                    display: block;
                }

                @include r(576) {
                    width: 100%;
                    display: block;
                    transition: .3s ease;
                }

                .right_blok {
                    display: none;
                    background: none;

                    @include r(576) {
                        display: block;
                        width: 30%;
                        height: 100%;
                        cursor: pointer;
                        position: absolute;
                        left: -3550px;
                        z-index: 99;
                        top: 0;

                    }
                }

                .acctive_right {
                    position: absolute;
                    background: #001aff4d;
                    z-index: 99;
                    transition: 0.6s ease;
                    left: 403px !important;

                    @include r(479) {
                        left: 335px !important;

                        @include r(420) {
                            display: none;
                        }
                    }
                }
            }

            .menu-drawer {
                width: 100%;
                margin-top: 85px;
                background-color: #1694F1;
                position: absolute;
                transition: .6s ease;
                left: -3550px;
                top: 100px;
                padding: 12px;
                z-index: 999;



                @include r(576) {
                    width: 70%;
                    margin-top: 0;
                    top: 0;
                    height: 100%;

                    @include r(420) {
                        width: 100%;
                        top: 85px;
                    }
                }
            }

            .open {
                left: 0px;
                transition: left linear .5s;
                z-index: 99;
            }

            .menu-drawer {

                .header_menus {
                    padding: 25px 0;
                    display: flex;
                    justify-content: space-between;

                    @include r(576) {
                        padding: 16px 0;
                    }

                    .header_menu {
                        display: flex;
                        align-items: center;

                        @include r(576) {
                            width: 50%;

                            @include r(479) {
                                top: 86px;
                                left: 24px;
                                position: absolute;
                            }
                        }

                        .header_menu_list {
                            padding-left: 76px;

                            @include r(992) {
                                display: block !important;

                                @include r(768) {
                                    padding-left: 25px;

                                    @include r(576) {
                                        padding-left: 0;
                                    }
                                }
                            }

                            .header_menus_item {
                                display: flex;

                                @include r(576) {
                                    display: flex;
                                    flex-wrap: wrap;
                                    gap: 18px;
                                }

                                a {
                                    padding-right: 25px;
                                    color: #F4F7FF;
                                    font-family: Inter-Medium;
                                    font-size: 15px;

                                    @include r(576) {
                                        padding-right: 0;
                                    }
                                }
                            }
                        }
                    }

                    .header_search {

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @include r(576) {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            flex-direction: column-reverse;
                            align-items: end;
                        }

                        .search {
                            @include r(992) {
                                display: block;
                            }

                            .input_logo {
                                position: relative;

                                .search_input {
                                    position: absolute;
                                    top: 15px;
                                    left: 8px;
                                    color: #1895F3;
                                }
                            }

                            input {
                                padding: 10px 10px 10px 30px;
                                border-radius: 8px;
                                background: #F4F7FF;
                                color: #A2BAC5;
                                font-family: Inter-Medium;
                                font-size: 15px;
                                height: 44px;

                                &::placeholder {
                                    color: #A2BAC5;
                                }
                            }
                        }

                        .show {
                            .dropdown-toggle {
                                &::after {
                                    transform: rotate(-225deg) !important;
                                    position: relative;
                                    top: 19px !important;
                                    transition: 0.4s;
                                }
                            }
                        }

                        .lang {
                            margin-right: 8px;

                            @include r(992) {
                                display: block;

                                @include r(479) {
                                    position: absolute;
                                    top: 25%;
                                }
                            }

                            .dropdown-toggle {
                                &::after {
                                    content: "";
                                    border-bottom: 2px solid #8BCAF9;
                                    border-left: 2px solid #8BCAF9;
                                    width: 9px;
                                    height: 9px;
                                    transform: rotate(-45deg);
                                    position: absolute;
                                    top: 15px;
                                    right: 14px;
                                    transition: .3s;
                                    border-top: none;
                                    border-right: none;
                                }
                            }

                            button {
                                padding: 12px;
                                border-radius: 8px;
                                background: #F4F7FF;
                                color: #1895F3;
                                border: 1px solid #F4F7FF;
                                font-family: Inter-Medium;
                                font-size: 15px;
                                display: flex;
                                align-items: center;
                                width: 72px;
                                height: 44px;

                                &:focus-visible {
                                    outline: none;
                                }

                                &:focus {
                                    border-radius: 8px;
                                    background: #F4F7FF !important;
                                }
                            }

                            .dropdown-menu {
                                margin-top: 8px;
                                min-width: unset;
                                border-radius: 8px;
                                background: #F4F7FF;
                                box-shadow: 20px 24px 44px 0px rgba(36, 160, 253, 0.22);
                                width: 100%;
                                border: none;
                                padding: 4px;

                                .dropdown-item {
                                    border-radius: 3px;
                                    border-radius: 3px;
                                    padding: 5px 10px;
                                    color: #1895F3;
                                    border: 1px solid #F4F7FF;
                                    font-family: Inter-Medium;
                                    font-size: 15px;

                                    &.active,
                                    &:hover {
                                        background: #DCF0FF;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .search {
                @include r(992) {
                    display: none;
                }

                .input_logo {
                    position: relative;

                    .search_input {
                        position: absolute;
                        top: 15px;
                        left: 8px;
                        color: #1895F3;
                    }
                }

                input {
                    padding: 10px 10px 10px 30px;
                    border-radius: 8px;
                    background: #F4F7FF;
                    color: #A2BAC5;
                    font-family: Inter-Medium;
                    font-size: 15px;
                    height: 44px;

                    &::placeholder {
                        color: #A2BAC5;
                    }
                }
            }

            .show {
                .dropdown-toggle {
                    &::after {
                        transform: rotate(-225deg) !important;
                        position: relative;
                        top: 19px !important;
                        transition: 0.4s;
                    }
                }
            }

            .lang {
                margin-right: 8px;

                @include r(992) {
                    display: none;
                }

                .dropdown-toggle {
                    &::after {
                        content: "";
                        border-bottom: 2px solid #8BCAF9;
                        border-left: 2px solid #8BCAF9;
                        width: 9px;
                        height: 9px;
                        transform: rotate(-45deg);
                        position: absolute;
                        top: 15px;
                        right: 14px;
                        transition: .3s;
                        border-top: none;
                        border-right: none;
                    }
                }

                button {
                    padding: 12px;
                    border-radius: 8px;
                    background: #F4F7FF;
                    color: #1895F3;
                    border: 1px solid #F4F7FF;
                    font-family: Inter-Medium;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    width: 72px;
                    height: 44px;

                    &:focus-visible {
                        outline: none;
                    }

                    &:focus {
                        border-radius: 8px;
                        background: #F4F7FF !important;
                    }
                }

                .dropdown-menu {
                    margin-top: 8px;
                    min-width: unset;
                    border-radius: 8px;
                    background: #F4F7FF;
                    box-shadow: 20px 24px 44px 0px rgba(36, 160, 253, 0.22);
                    width: 100%;
                    border: none;
                    padding: 4px;

                    .dropdown-item {
                        border-radius: 3px;
                        border-radius: 3px;
                        padding: 5px 10px;
                        color: #1895F3;
                        border: 1px solid #F4F7FF;
                        font-family: Inter-Medium;
                        font-size: 15px;

                        &.active,
                        &:hover {
                            background: #DCF0FF;
                        }
                    }
                }
            }
        }
    }
}
}