$bg-color: #1694F1;
$dot-color: #ffffff;

// Dimensions
$dot-size: 0.8px;
$dot-space: 19px;


.mt-100 {
	margin-top: 100px !important;
}

.mt-160 {
	margin-top: 172px !important;
}

.register {
	border-radius: 24px;
	background: linear-gradient(180deg, #27A2FF 0%, #0C8BEA 99.94%);
	background:
		linear-gradient(90deg, $bg-color (
			$dot-space - $dot-size),
		transparent 1%) center,
		linear-gradient($bg-color (
			$dot-space - $dot-size),
		transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
	display: flex;
	align-items: center;
	justify-content: center;

	.reg_title {
		text-align: center;
		padding: 36px;

		background-repeat: no-repeat;
		background-position: 78% 76%;

		@include r(992) {
			padding: 30px;
			background-position: 39% 84%;

			@include r(768) {
				background-size: 84%;
				padding: 24px;
				background-position: 32% 89%;

				@include r(576) {
					background-position: 50% 82%;

					@include r(420) {
						background-position: 56% 64%
					}
				}
			}
		}

		img {
			@include r(768) {
				width: 84px;
				height: 84px;
			}
		}

		h4 {
			color: #fff;
			font-family: Inter-SemiBold;
			font-size: 28px;
			padding: 12px 0 8px;
			margin: 0;

			@include r(768) {
				font-size: 18px;
			}
		}

		p {
			color: #A3D5FA;
			font-size: 14px;
			font-family: Inter-Regular;
			padding-bottom: 40px;

			@include r(992) {
				padding-bottom: 24px;

				@include r(768) {
					font-size: 12px;
					padding-bottom: 18px;
				}
			}
		}

		form {
			.label_test {
				position: relative;

				label {
					position: absolute;
					bottom: 10px;
					left: 24px;
					color: #E8F4FE;
					font-size: 16px;
					font-family: Inter-Regular;
					transition: .3s;

					@include r(992) {
						bottom: 2px;
					}
				}

				input:focus+label,
				input:valid+label {
					font-size: 12px;
					top: 8px;

					@include r(992) {
						top: 4px;

					}
				}
			}

			.label_select {
				position: relative;

				label {
					position: absolute;
					top: 0px;
					left: 24px;
					color: #E8F4FE;
					font-size: 16px;
					font-family: Inter-Regular;
					transition: .3s;
				}

				input:focus+label,
				input:valid+label {
					font-size: 12px;
					top: 8px;
				}
			}

		}

		input {
			background: none;
			border-radius: 12px;
			border: 1px solid #FFF;
			padding: 28px 16px 10px 22px;
			height: 56px;
			color: #E8F4FE;
			font-size: 16px;
			font-family: Inter-Regular;

			@include r(992) {
				height: 44px;
			}

			&::placeholder {
				color: #E8F4FE;
			}

			&:focus-visible {
				border-radius: 12px;
				border: 1px solid #FFF;
			}
		}

		.d_select {
			width: 100%;
			background: none;
			padding: 0 22px !important;
			font-size: 16px;
			color: #E8F4FE;
			height: 56px;
			margin-bottom: 110px;
			border-radius: 12px;
			border: 1px solid #FFF;

			@include r(992) {
				height: 44px;
				margin-bottom: 76px;
			}

			option {
				min-height: unset !important;
				border-radius: 12px;
				border: 1px solid #FFF;
				background: #1290EF;
				font-family: Inter-Regular;
				font-style: normal;
				font-size: 16px;
			}

		}

		.nice-select {
			.current {
				position: absolute;
				top: 7px;

				@include r(992) {
					top: 0px;
				}
			}

			.list {
				width: 100%;
				border-radius: 12px;
				border: 1px solid #FFF;
				background: #1290EF;
				padding: 6px;
				margin-top: 0;

				li {
					width: 96%;
					margin: auto;
					padding: 0 8px;
					position: relative;

					@include r(768) {
						font-size: 14px;
					}
				}

				.selected.focus {
					&::after {
						position: absolute;
						content: "";
						right: 12px;
						top: 10px;
						border-bottom: 2px solid #FFFFFF;
						border-right: 2px solid #FFFFFF;
						width: 10px;
						transform: rotate(38deg
						);
					height: 15px;

					@include r(768) {
						width: 8px;
						height: 13px;
					}
				}
			}
		}

		.option.selected {
			font-weight: normal;
		}
	}

	.nice-select .option:hover,
	.nice-select .option.focus,
	.nice-select .option.selected.focus {
		border-radius: 7px;
		background: #1C97F4;
		color: #FFF;
		padding: 0 8px;
	}

	.nice-select::after {
		border-bottom: 2px solid #fff;
		border-right: 2px solid #fff;
		width: 10px;
		height: 10px;
		transition: .3s;
		position: absolute;
		right: 12px;
		top: 45%;
	}
}

.reg_next {
	width: 100%;
	color: #1895F3;
	height: 52px;
	font-size: 16px;
	font-family: Inter-Regular;
	padding: 14px;
	border-radius: 12px;
	background: #FFF;

	@include r(992) {
		height: 44px;
		padding: 10px 14px;
	}
}
}

.breadgrumb_m {
	transition: .5s;
	margin-bottom: 100px;

	@include r(576) {
		margin-bottom: 0;
	}
}

.breadcrumb_all {
	padding: 40px 0 60px;

	@include r(768) {
		padding: 38px 0 38px;

		@include r(576) {
			padding: 32px 0;

			@include r(420) {
				padding: 24px 0;
			}
		}
	}

	.breadcrumb {
		background: none;
		margin: 0;
		padding: 0;
		display: flex;
		gap: 32px;

		@include r(420) {
			gap: 12px;
		}

		.breadcrumb-item {
			color: #6974A5;
			font-family: Inter-Regular;
			font-size: 14px;
			position: relative;

			@include r(479) {
				font-size: 12px !important;
			}

			a {
				color: #6974A5;
			}

			&::before {
				display: none;
			}

			&::after {
				content: "";
				border-bottom: 2px solid #A0A0A0;
				border-left: 2px solid #A0A0A0;
				width: 8px;
				height: 8px;
				position: absolute;
				top: 7px;
				right: -22px;
				transform: rotate(225deg);

				@include r(420) {
					top: 6px;
					right: -14px;
				}
			}

			&:last-child {
				&::after {
					display: none;
				}
			}
		}

		.active {
			color: #051769 !important;
		}
	}

	.title {
		margin-top: 20px;
		display: flex;
		align-items: center;

		h1 {
			color: #051769;
			font-family: Inter-SemiBold;
			font-size: 36px;
			padding-right: 28px;
			margin: 0;

			@include r(576) {
				font-size: 32px;

				@include r(479) {
					font-size: 28px;

					@include r(420) {
						font-size: 24px;
						padding-right: 16px;
					}
				}
			}
		}

		p {
			color: #1895F3;
			font-family: Inter-Bold;
			font-size: 36px;

			@include r(576) {
				font-size: 32px;

				@include r(479) {
					font-size: 28px;

					@include r(420) {
						font-size: 24px;
					}
				}
			}
		}
	}
}

#video_1,
#video_2,
#video_3,
#video_4,
#video_5,
#video_6 {
	.vjs-poster {
		background-color: transparent;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.vjs-big-play-button {
		position: absolute;
		top: 45%;
		left: 43%;
		width: 84px;
		height: 84px;
		border-radius: 84px;
		opacity: 0.5;
		background: #FFF;
		padding: 20px;

		@include r(992) {
			top: 40%;
			left: 42%;

			@include r(768) {
				top: 42%;
				left: 43%;
				width: 62px;
				height: 62px;

				@include r(394) {
					top: 38%;
					left: 40%;
				}
			}
		}

		.vjs-icon-placeholder {
			&::before {
				color: #17B5FF;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}

.main_register {
	padding: 80px 0 160px;

	@include r(992) {
		padding: 80px 0;

		@include r(768) {
			padding: 60px 0;
		}
	}

	.play_logo {
		img {
			border-radius: 84px;
			opacity: 0.5299999713897705;
			background: #FFF;
			padding: 20px;
		}
	}

	.main_banner {
		padding-bottom: 18px;
		border-radius: 24px;
		border: 1px solid #D1EAFD;
		background: #E8F4FE;



		@include r(576) {
			margin-bottom: 24px;
		}



		/* Style the tab content */
		.tabcontent {
			display: none;
			padding: 6px 12px;
			border: 1px solid #ccc;
			border-top: none;
		}

		.play-bt {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			padding: 34px;
			background: #F4F7FF url('../../img/play-fill.svg') no-repeat 5px;
			background-size: 50%;
			background-position: center;
			position: absolute;
			left: 46%;
			top: 32%;
			z-index: 99;
			cursor: pointer;
		}

		.pause-bt {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			padding: 34px;
			background: #F4F7FF url('../../img/play-fill.svg') no-repeat 5px;
			background-size: 50%;
			background-position: center;
			position: absolute;
			left: 46%;
			top: 32%;
			z-index: 99;
			cursor: pointer;

		}

		.active {
			display: none !important;
		}



		.biography {
			margin: 15px;
			border-radius: 16px;
			background: #000000;
			width: 850px;
			height: 415px;

			&:first-child {
				display: inline-block;
			}

			@include r(992) {
				width: 598px;
				height: 366px;

				@include r(768) {
					width: 448px;
					height: 290px;

					@include r(576) {
						width: 514px;
						height: 260px;

						@include r(479) {
							width: 418px;
							height: 260px;

							@include r(420) {
								width: 356px;
								height: 230px;

								@include r(394) {
									width: 332px;
									height: 210px;
								}
							}
						}
					}
				}
			}
		}

		.play_logo {
			position: absolute;
			left: 315px;
			top: 150px;
		}

		h4 {
			font-size: 20px;
			text-align: center;
			font-family: Inter-Medium;
			margin-bottom: 24px;

			@include r(992) {
				font-size: 18px;

				@include r(768) {
					font-size: 16px;
					margin-bottom: 22px;

					@include r(576) {
						font-size: 14px;
						margin-bottom: 12px;
					}
				}
			}
		}

		.link_menu {

			text-align: center;
			display: flex;
			justify-content: center;
			gap: 26px;

			@include r(768) {
				gap: 20px;

				@include r(576) {
					gap: 18px;

					@include r(394) {
						gap: 8px;
					}
				}
			}

			button {
				padding: 8px;
				border: 1px solid transparent;
				background: transparent;

				img {
					@include r(576) {
						width: 28px;
						height: 28px;
					}
				}

				&:hover {

					border-radius: 50%;
					border: 1px solid #1895F3;
					background: #D1EAFD;

				}
			}

		}
	}

}


.articles {
	.article_back {

		background-repeat: no-repeat !important;
	}

	background: linear-gradient(180deg, #27A2FF 0%, #0C8BEA 99.94%);
	background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size),
		transparent 1%) center,
	linear-gradient($bg-color ($dot-space - $dot-size),
		transparent 1%) center,
	$dot-color;
	background-size: $dot-space $dot-space;

	.article_title {
		padding: 110px 0 80px;

		@include r(992) {
			padding: 60px 0;

			@include r(768) {
				padding: 36px 0;

				@include r(394) {
					padding: 24px 0;
				}
			}
		}

		h2 {
			font-size: 36px;
			text-align: center;
			font-family: Inter-Bold;
			color: #E8F4FE;
			margin: 0;

			@include r(768) {
				font-size: 26px;

				@include r(479) {
					font-size: 24px;

					@include r(394) {
						font-size: 22px;
					}
				}
			}
		}
	}

	.article_menu {
		@include r(768) {
			display: flex;
			overflow: auto;

		}

		.ml-120 {
			@include r(768) {
				margin-right: 152px;

				@include r(576) {
					margin-right: 12px;
				}
			}
		}

		.ml-44 {
			@include r(768) {
				margin-right: 44px;

				@include r(576) {
					margin-right: 10px;
				}
			}
		}

		ul {
			display: flex;
			justify-content: center;

			@include r(768) {
				display: flex;
				flex-wrap: nowrap !important;
				justify-content: space-between;
				margin: 0;

			}

			li {
				display: flex;
				justify-content: center;
				padding-bottom: 76px;

				@include r(768) {
					margin: 0 12px;
					padding-bottom: 50px;

					@include r(576) {
						padding-bottom: 26px;
					}
				}

				a {
					text-align: center;

					img {
						padding: 27px;
						border-radius: 50%;
						background: #F4F7FF;
						text-align: center;
						margin-bottom: 22px;
					}

					p {
						color: #FFF;
						text-align: center;
						font-family: Inter-Regular;
						font-size: 16px;
					}
				}
			}
		}

	}
}

.most_articles {
	background: #F4F7FF;
	padding-bottom: 136px;

	@include r(992) {
		padding-bottom: 60px;

		@include r(768) {
			padding-bottom: 36px;

			@include r(576) {
				padding-bottom: 28px;
			}
		}
	}

	.most_slider {
		.slick-prev {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 111px;
			background: #FFF;
			box-shadow: 9px 11px 27px 0px rgba(14, 138, 231, 0.20);
			z-index: 99;
			left: -10px;
			padding: 25px;

			@include r(992) {
				left: 5px;
			}

			&::before {
				display: inline-block;
				content: "";
				border-bottom: 2px solid #000000;
				border-left: 2px solid #000000;
				width: 8px;
				height: 8px;
				transform: rotate(45deg);
				padding: 5px;
				position: relative;
				left: 2px;
				opacity: 1;
			}

			&:hover {
				transition: 0.5s;
				background: #74BFF8;

				&::before {
					border-bottom: 2px solid #fff;
					border-left: 2px solid #fff;

				}
			}
		}

		.slick-next {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 111px;
			background: #FFF;
			box-shadow: 9px 11px 27px 0px rgba(14, 138, 231, 0.20);
			padding: 25px;
			right: -10px;

			@include r(992) {
				right: 5px;
			}

			&::before {
				display: inline-block;
				content: "";
				border-bottom: 2px solid #000000;
				border-left: 2px solid #000000;
				width: 8px;
				height: 8px;
				transform: rotate(-135deg);
				padding: 5px;
				position: relative;
				right: 2px;
				opacity: 1;
			}

			&:hover {
				transition: 0.5s;
				background: #74BFF8;

				&::before {
					border-bottom: 2px solid #fff;
					border-left: 2px solid #fff;

				}
			}
		}

	}

}

.most_title {
	padding-top: 136px;
	text-align: center;

	@include r(992) {
		padding-top: 40px;
	}

	h2 {
		color: #1895F3;
		font-size: 32px;
		font-family: Inter-SemiBold;
		margin-bottom: 13px;

		@include r(992) {
			font-size: 28px;

			@include r(768) {
				font-size: 26px;

				@include r(576) {
					font-size: 24px;
				}
			}
		}
	}

	p {
		margin: 0;
		width: 35%;
		font-family: Inter-Regular;
		font-size: 14px;
		margin-bottom: 50px;

		@include r(992) {
			margin-bottom: 36px;
			font-size: 12px;

			@include r(768) {
				width: 60%;

				@include r(576) {
					width: 70%;
					margin-bottom: 28px;
				}
			}
		}
	}
}

.medicine_small {
	display: flex;
	align-items: center;
	gap: 14px;
	padding: 6px !important;
	min-height: 105px !important;

	.small_pic {
		margin: 0;
		padding: 0;
		width: 129px;
		height: 93px !important;

	}
}

.medicine_courses {
	min-height: 347px !important;

	@include r(768) {
		min-height: 290px !important;
	}

	.courses_img {
		width: 100%;
		height: 177px;
		background-size: cover;
		margin-bottom: 24px;
		padding: 0;

		@include r(576) {
			height: 222px;

			@include r(420) {
				height: 190px;
			}
		}
	}

	p {

		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 3 !important;
		-webkit-box-orient: vertical;
	}
}

.madicine_cart {
	background: #F7F7F7 !important;

	img {
		@include r(576) {
			height: 246px !important;
		}
	}
}

.medicine {
	padding: 16px;
	border-radius: 16px;
	border: 1px solid#E9E9EB;
	background: #fff;
	margin-bottom: 20px;
	min-height: 363px;

	@include r(992) {
		min-height: 330px;

		@include r(768) {
			min-height: 290px;
		}
	}



	.more_attend {
		display: flex;
		align-items: center;
		padding-top: 24px;

		.btn_one {
			margin-right: 8px;
			padding: 9px 18px;
			background: transparent;
			font-family: Inter-Regular;
			border-radius: 6px;
			border: 1px solid #1895F3;
		}

		.btn_two {
			color: #fff;
			font-family: Inter-Regular;
			border: 1px solid #1895F3;
			padding: 9px 18px;
			border-radius: 6px;
			background: #1895F3;
		}
	}


	.small_p {
		font-size: 14px !important;
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	img {
		width: 100%;
		height: 233px;
		background-size: cover;
		padding-bottom: 16px;

		@include r(992) {
			height: 210px;

			@include r(768) {
				height: 180px;

				@include r(479) {
					height: 222px;
				}
			}
		}
	}

	span {
		color: #F7F7F7;
		font-family: Inter-Regular;
		font-size: 14px;
		padding: 2px 8px;
		border-radius: 4px;
		background: #1895F3;
		margin-left: 8px;
	}

	p {
		padding: 8px 8px 0;
		color: #262733;
		font-family: Inter-Medium;
		font-size: 16px;
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	&:hover {
		transition: 0.7s;
		box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15);
	}

}

.directions {
	.direction_title {
		padding: 85px 0 45px;

		@include r(992) {
			padding: 45px 0 25px;

			@include r(768) {
				padding: 30px 0 18px;
			}
		}

		h2 {
			margin: 0;
		}
	}

	.direct {
		margin-bottom: 70px;

		@include r(992) {
			margin-bottom: 40px;

			@include r(768) {
				margin-bottom: 32px;
			}
		}
	}
}

.d_pagination {
	margin-bottom: 95px;

	@include r(992) {
		margin-bottom: 45px;

		@include r(768) {
			margin-bottom: 28px;

			@include r(420) {
				margin-bottom: 18px;

			}
		}
	}

	.home_pagination {
		@include r(992) {
			display: flex;
			justify-content: center;


		}

		.home_page_item {
			padding-right: 5px;


			.home_link {
				border-radius: 8px;
				background: #E8F4FE;
				color: #676870;
				font-family: Inter-Medium;
				font-size: 13px;
				border: transparent;

				&:hover {
					transition: 0.5s;
					border-radius: 8px;
					border: transparent;
					color: #E8F4FE;
					background: #BADFFB;
				}

				&:active {
					background: #1895F3;
					color: #E8F4FE;
					border: transparent;
				}
			}
		}
	}

	.pagenation_all {
		.webinars_pagination {
			padding-right: 5px;

			.webin_link {
				border-radius: 8px;
				background: #fff;
				color: #676870;
				font-family: Inter-Medium;
				font-size: 13px;
				border: transparent;

				&:hover {
					background: #1895F3;
					color: #E8F4FE;
					border: transparent;
					transition: 0.5s;
				}

				&:active {
					background: #1895F3;
					color: #E8F4FE;
					border: transparent;
				}
			}
		}
	}

}

.hidden {
	display: none;
}