.date_time {
    color: #A8A9AD;
    font-family: Inter-Regular;
    font-size: 12px;

    h6 {
        color: #000;
        font-family: Inter-Regular;
        font-size: 16px;
        font-style: italic;
        margin: 8px 0 0 0;
        padding-bottom: 10px;
        border-bottom: 1px solid#D4D4D6;

        @include r(768) {}
    }
}

.internal_about {
    .internal {
        .line_l {
            border-right: 1px solid #e7e7e7;
            padding-right: 30px;
            margin-bottom: 140px;

            @include r(992) {
                padding: 0 12px;

                @include r(576) {
                    padding: 0 24px;

                    @include r(420) {
                        margin-bottom: 60px;
                    }
                }
            }

            .internal_top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 16px;
                border-bottom: 1px solid #e7e7e7;

                .social_network {
                    .network {
                        display: flex;
                        align-items: center;
                        gap: 24px;
                        margin: 0;

                        .networ_item {
                            .networ_item_link {
                                font-size: 24px;
                                color: #A8A9AD;

                                &:hover {
                                    transition: .5s;
                                    color: #17B5FF;
                                }
                            }
                        }

                    }
                }
            }

            .internal_left {

                .internal_title {
                    padding-top: 36px;

                    @include r(768) {
                        padding-top: 24px;

                        @include r(420) {
                            padding-top: 18px;
                        }
                    }

                    h4 {
                        color: #262733;
                        font-family: Inter-SemiBold;
                        font-size: 26px;

                        @include r(768) {
                            font-size: 20px;
                        }
                    }

                    p {
                        color: #111;
                        font-family: Inter-Regular;
                        font-size: 19px;
                        padding: 20px 0 30px;

                        @include r(768) {
                            padding: 16px 0 24px;

                            @include r(420) {
                                font-size: 14px;
                                padding: 10px 0;
                            }
                        }
                    }
                }

                .internal_image {
                    img {
                        width: 100%;
                    }
                }
            }
        }

        .similar_articles {
            @include r(576) {
                padding: 0 24px;

                @include r(420) {
                    padding-bottom: 24px;
                }
            }

            .time_r {
                padding-top: 24px;
            }

            .similar_title {
                h4 {
                    color: #3BBB46;
                    font-family: Inter-Medium;
                    font-style: italic;
                    font-size: 22px;
                }
            }
        }
    }
}