.register-main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #1694F1 18.2px, transparent 1%) center, linear-gradient(#1694F1 18.2px, transparent 1%) center, #ffffff;
    background-size: 19px 19px;
    position: relative;
    overflow: hidden;
    z-index: 99;
    padding: 45px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    .register-form {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 55;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;

        .form {
            position: absolute;
            right: 20%;
            border-radius: 24px;
            background: #F4F7FF;
            box-shadow: 0px 0px 34px 0px rgba(12, 69, 111, 0.10);
            min-height: 500px;
            height: max-content;
            width: 435px;
            padding: 36px;
            z-index: 66;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 60px;

            .reg-fon {
                position: absolute;
                z-index: -1;
                right: 36px;
                bottom: 36px;
            }


            .top-block {
                .top-text {
                    text-align: center;

                    .title {
                        color: #1895F3;
                        font-family: "Inter-SemiBold";
                        font-size: 22px;
                        line-height: 140%;
                        margin-bottom: 10px;
                    }

                    .checked_ {

                        font-size: 65px;
                        background: #CCF5D8;
                        border-radius: 50%;
                        color: #21E738;
                        margin-bottom: 24px;

                        i {
                            padding: 20px;
                        }
                    }

                    .forgot_desc {
                        width: 70% !important;
                    }

                    .form-desc {
                        color: #5DB5F7;
                        font-family: "Inter-Regular";
                        font-size: 14px;
                        line-height: 140%;
                        width: 80%;
                        margin: 0 auto;
                    }
                }
            }

            .inputs {
                margin-top: 50px;
                position: relative;

                .input-reg {
                    border-radius: 12px;
                    color: #676870;
                    border: 1px solid #A3D5FA;
                    font-family: Inter-Regular;
                    padding: 30px 16px 10px 16px;
                    height: 56px;
                    background: transparent;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.5px;

                }

                .warning {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    span {
                        color: #393939;
                        font-family: Inter-Regular;
                        font-size: 12px;
                    }
                }

                .timer {
                    position: absolute;
                    bottom: 55px;
                    right: 8px;

                    .time {
                        color: #1895F3;
                        text-align: center;
                        font-family: Inter-Regular;
                        font-size: 14px;

                    }
                }

                .error_border {
                    border: 1px solid #FF0029 !important;
                    color: #FF0029;
                }

                .input-item input:focus+label,
                .input-item input:valid+label {
                    font-size: 12px;
                    top: 8px
                }

                .reshipment {
                    color: #1895F3;
                    text-align: center;
                    font-family: Inter-Regular;
                    font-size: 14px;
                }

                .input-item {
                    margin-bottom: 16px;
                    position: relative;

                    .error_text {
                        position: relative;
                        top: 4px;
                        color: #FF0029;
                        font-family: Inter-Regular;
                        font-size: 12px;
                        margin: 14px;
                    }

                    label {
                        position: absolute;
                        left: 20px;
                        margin: 0;
                        top: 14px;
                        color: #A8A9AD;
                        font-family: Inter-Regular;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        transition: .3s;
                    }


                    .input-btn {
                        position: absolute;
                        top: 0;
                        right: 20px;
                        height: 100%;
                        font-size: 12px;
                        font-family: Inter-Regular;
                        color: #1895F3;
                    }
                }


                .remember-me {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .sign_check {
                        border-radius: 9px;
                        border: 1px solid #BADFFB;
                        padding: 12px;
                        width: 48%;

                        &:hover {
                            border-radius: 9px;
                            border: 1px solid #1895F3;
                            background: var(--light-blue-10, #E8F4FE);
                        }
                    }

                    .left input {
                        padding: 0;
                        height: initial;
                        width: initial;
                        margin-bottom: 0;
                        display: none;
                        cursor: pointer;
                    }

                    .left label {
                        position: relative;
                        cursor: pointer;
                        color: #1895F3;
                        font-family: "Inter-Regular";
                        font-size: 14px;
                        margin-bottom: 0;
                    }

                    .left label:before {
                        content: '';
                        background-color: transparent;
                        border: 1px solid #1895F3;
                        display: inline-block;
                        position: relative;
                        vertical-align: middle;
                        cursor: pointer;
                        margin-right: 5px;
                        width: 16px;
                        height: 16px;
                        border-radius: 5px;
                        top: -1px;
                    }

                    .left input:checked+label:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 7px;
                        left: 4px;
                        width: 8px;
                        height: 8px;
                        background: #1895F3;
                        border-radius: 2px;
                    }

                    .forgot {
                        color: #1895F3;
                        font-family: "Inter-Regular";
                        font-size: 14px;
                        margin-bottom: 0;
                    }
                }
            }

            .block-bottom {
                text-align: center;

                .two_btn {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .prev_btn {
                        color: #1895F3;
                        font-family: 'Inter-Regular';
                        font-size: 16px;
                        border-radius: 12px;
                        border: 1px solid var(--light-blue-100, #1895F3);
                        background: transparent;
                    }

                    button {
                        width: 48%;
                    }
                }

                .register-text {
                    color: #1895F3;
                    font-family: 'Inter-Medium';
                    font-size: 16px;
                }

                .save-btn {
                    border: 1px solid #1895F3;
                    border-radius: 12px;
                    color: #fff;
                    background: #1895F3;
                    width: 100%;
                    margin-top: 28px;
                    height: 52px;
                    font-family: 'Inter-Regular';
                }
            }
        }
    }

    .top-block {
        .top-img {
            display: flex;
            align-items: center;
            gap: 66px;
        }

        .hub-logo {
            width: 221px;
            height: 51px;
        }

        .description {
            width: 30%;
            margin-top: 27px;
            font-family: "Inter-Regular";
            color: #ffffff;
            font-size: 16px;
        }
    }

    .bottom-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 77;

        .unisef {
            width: 190px;
        }



        .left,
        .right {
            display: flex;
            flex-direction: column;
        }

        .right {
            align-items: end;
        }

        span {
            display: inline-block;
            font-family: "Inter-Regular";
            color: #ffffff;
            font-size: 14px;
        }
    }

    .fon {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}