.register-main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #1694F1 18.2px, transparent 1%) center, linear-gradient(#1694F1 18.2px, transparent 1%) center, #ffffff;
    background-size: 19px 19px;
    position: relative;
    overflow: hidden;
    z-index: 99;
    padding: 45px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    .register-form {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 55;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;

        .back-block {
            position: absolute;
            right: 20%;
            border-radius: 24px;
            height: 100%;
            width: 435px;
            padding: 36px;
            z-index: 66;
            display: flex;
            align-items: center;

            @include r(992) {
                right: 28%;

                @include r(768) {
                    right: 21%;

                    @include r(576) {
                        right: 12%;

                        @include r(479) {
                            right: 21px;

                            @include r(420) {
                                left: 13px;

                                @include r(394) {
                                    left: 10px;
                                    bottom: 4%;
                                }
                            }
                        }
                    }
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 60px;
                position: absolute;
                // top: 0;
                left: 0;
                padding: 36px;
                box-shadow: 0px 0px 34px 0px rgba(12, 69, 111, 0.10);
                width: 100%;

                @include r(420) {
                    width: 90%;

                    @include r(394) {
                        padding: 24px 36px;
                        width: 86%;
                    }
                }

                &.sign-up {
                    left: 200%;
                    transition: .3s;

                    &.active {
                        left: 0%;
                    }
                }

                &.forgotpass {
                    left: 200%;
                    transition: .3s;

                    &.active {
                        left: 0%;
                    }

                }

                &.new_pass {
                    left: 200%;
                    transition: .3s;

                    &.active {
                        left: 0%;
                    }
                }

                &.form_check {
                    left: 200%;
                    transition: .3s;

                    &.active {
                        left: 0%;
                    }
                }

                &.forgot_pass_two {
                    left: 200%;
                    transition: .3s;

                    &.active {
                        left: 0%;
                    }
                }

                &.login {
                    transition: .3s;

                    &.left__ {
                        left: 200%;
                    }
                }


                .reg-fon {
                    position: absolute;
                    z-index: -1;
                    right: 36px;
                    bottom: 36px;
                }


                .top-block {

                    .top-text {
                        text-align: center;

                        .title {
                            color: #1895F3;
                            font-family: "Inter-SemiBold";
                            font-size: 22px;
                            line-height: 140%;
                            margin-bottom: 10px;
                        }

                        .form-desc {
                            color: #5DB5F7;
                            font-family: "Inter-Regular";
                            font-size: 14px;
                            line-height: 140%;
                            width: 80%;
                            margin: 0 auto;
                        }
                    }
                }

                .inputs {
                    margin-top: 50px;

                    .input-reg {
                        border-radius: 12px;
                        color: #676870;
                        border: 1px solid #A3D5FA;
                        font-family: Inter-Regular;
                        padding: 30px 16px 10px 16px;
                        height: 56px;
                        background: transparent;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0.5px;
                    }

                    .input-item {
                        margin-bottom: 16px;
                        position: relative;

                        .input-btn {
                            position: absolute;
                            top: 0;
                            right: 20px;
                            height: 100%;
                            font-size: 12px;
                            font-family: Inter-Regular;
                            color: #1895F3;
                        }
                    }

                    .remember-me {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .sign_check {
                            border-radius: 9px !important;
                            border: 1px solid #BADFFB !important;
                            width: 48% !important;
                            padding: 0;


                            input[type="radio"]:checked+label {
                                border-radius: 9px;
                                border: 1px solid #1895F3 !important;
                                background: #E8F4FE;
                            }

                            label {
                                width: 100%;
                                height: 52px;
                                padding: 14px 12px;
                            }

                            &:hover {
                                border-radius: 9px;
                                border: 1px solid #BADFFB;
                                background: #E8F4FE;
                            }

                        }

                        .left input {
                            padding: 0;
                            height: initial;
                            width: initial;
                            margin-bottom: 0;
                            display: none;
                            cursor: pointer;
                        }

                        .left label {
                            position: relative;
                            cursor: pointer;
                            color: #1895F3;
                            font-family: "Inter-Regular";
                            font-size: 14px;
                            margin-bottom: 0;
                        }

                        .left label:before {
                            content: '';
                            background-color: transparent;
                            border: 1px solid #1895F3;
                            display: inline-block;
                            position: relative;
                            vertical-align: middle;
                            cursor: pointer;
                            margin-right: 5px;
                            width: 16px;
                            height: 16px;
                            border-radius: 5px;
                            top: -1px;
                        }

                        .left input:checked+label:after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 21px;
                            left: 16px;
                            width: 8px;
                            height: 8px;
                            background: #1895F3;
                            border-radius: 2px;

                            @include r(394) {
                                top: 20px;
                            }
                        }

                        #first_checked_s input:checked+label:after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 7px;
                            left: 4px;
                            width: 8px;
                            height: 8px;
                            background: #1895F3;
                            border-radius: 2px;
                        }

                        .forgot {
                            color: #1895F3;
                            font-family: "Inter-Regular";
                            font-size: 14px;
                            margin-bottom: 0;
                        }
                    }
                }

                .block-bottom {
                    text-align: center;

                    .register-text {
                        color: #1895F3;
                        font-family: 'Inter-Medium';
                        font-size: 16px;
                    }

                    .two_btn {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .prev_btn {
                            color: #1895F3;
                            font-family: 'Inter-Regular';
                            font-size: 16px;
                            border-radius: 12px;
                            border: 1px solid var(--light-blue-100, #1895F3);
                            background: transparent;
                        }

                        button {
                            width: 48% !important;
                        }
                    }

                    .save-btn {
                        border: 1px solid #1895F3;
                        border-radius: 12px;
                        color: #fff;
                        background: #1895F3;
                        width: 100%;
                        margin-top: 28px;
                        height: 52px;
                        font-family: 'Inter-Regular';
                    }
                }
            }

        }
    }

    .top-block_ {
        @include r(992) {
            display: none;
        }

        .top-img {
            display: flex;
            align-items: center;
            gap: 66px;
        }

        .hub-logo {
            width: 221px;
            height: 51px;
        }

        .description {
            width: 30%;
            margin-top: 27px;
            font-family: "Inter-Regular";
            color: #ffffff;
            font-size: 16px;
        }
    }

    .bottom-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 77;

        @include r(992) {
            display: none;
        }


        .unisef {
            width: 190px;
        }




        .left,
        .right {
            display: flex;
            flex-direction: column;
        }

        .right {
            align-items: end;
        }

        span {
            display: inline-block;
            font-family: "Inter-Regular";
            color: #ffffff;
            font-size: 14px;
        }
    }

    .fon {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        @include r(420) {
            display: none;
        }
    }
}