.search_page {
    padding-top: 50px;

    @include r(420) {
        padding-top: 34px;
    }

    .search_back {

        border-radius: 24px;
        background-color: #1694F1;
        background: linear-gradient(90deg, #1694F1 18.2px, transparent 1%) center, linear-gradient(#1694F1 18.2px, transparent 1%) center, #ffffff;
        background-size: 19px 19px;
    }

    .search {
        .search_text {
            p {
                text-align: center;
                color: #A3D5FA;
                text-align: center;
                font-family: Inter-Regular;
                font-size: 14px;
                padding: 25px 0 4px;
            }

            h4 {
                color: #FFF;
                text-align: center;
                font-family: Inter-Medium;
                font-size: 24px;
                font-style: normal;
                margin: 0;
            }
        }

        form {
            position: relative;
            left: 25%;
            top: 32px;
            border-radius: 16px;
            border: 1px solid var(--dark-1, #E9E9EB);
            background: #FFF;
            padding: 12px 22px;
            width: 50%;
            height: 66px;

            @include r(768) {
                width: 70%;
                left: 15%;

                @include r(576) {

                    @include r(479) {
                        width: 94%;
                        left: 3%;
                    }
                }
            }

            label {
                margin: 0 !important;
                color: #17B5FF;
                font-size: 24px;

                @include r(576) {
                    display: none;
                }
            }

            input:focus-visible {
                outline: none;
            }

        }

        #search-input {
            background: transparent;
            border: none !important;
            color: var(--dark-100, #262733);
            font-family: Inter-SemiBold;
            font-size: 18px;
            position: absolute;
            top: 22px;
            left: 56px;

            @include r(992) {
                width: 50%;

                @include r(768) {
                    width: 62%;

                    @include r(576) {
                        width: 72%;
                        left: 20px;

                        @include r(479) {
                            width: 70%;

                            @include r(420) {
                                width: 65%;
                            }
                        }
                    }
                }
            }
        }

        #search-button {
            position: absolute;
            right: 10px;
            bottom: 8px;
            padding: 15px 49px;
            border-radius: 12px;
            background: #13C623;

            border: none;
            cursor: pointer;

            p {
                color: #FFF;
                font-family: Inter-SemiBold;
                font-size: 16px;

                @include r(576) {
                    display: none;
                }
            }

            .seach_icon {
                display: none;

                @include r(576) {
                    display: block;
                    color: #FFF;
                }
            }

            &::placeholder {
                color: 262733;
            }

            @include r(768) {
                padding: 14px 34px;

                @include r(576) {
                    padding: 14px 28px;
                }
            }
        }


    }
}

.search_menus {
    padding-top: 58px;
    text-align: center;
}