.mar-b-0 {
    margin: 0;
}

.form-container {

    clear: both;
    display: none;
    left: 100%;
    padding: 30px;

    &.active {

        display: block;
    }
}

.form-title {

    margin-bottom: 30px;
    padding-bottom: 15px;
    position: relative;

    &::before {

        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 80px;
        height: 2px;
        background: #fb8200;
    }
}

.tests_s {
    form {
        width: 99%;

        @include r(479) {
            width: 100%;
        }
    }
}

.tests {
    padding-bottom: 200px;
    position: relative;
    padding-top: 45px;

    @include r(576) {
        padding-top: 100px;
    }

    @include r(420) {
        padding-bottom: 110px;
        padding-top: 25px;
    }

    .register_test {
        background: #F4F7FF;
        width: 33%;
        min-height: 577px;
        position: absolute;
        right: 340px;
        bottom: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 24px;
        box-shadow: 0px 0px 34px 0px rgba(12, 69, 111, 0.10);

        @include r(992) {
            right: 50px;
            width: 45%;
            bottom: 230px;

            @include r(768) {
                right: 26px;
                bottom: 216px;
                width: 50%;

                @include r(576) {
                    right: 85px;
                    bottom: 220px;
                    width: 70%;

                    @include r(479) {
                        right: 14px;
                        width: 95%;
                        bottom: 183px;

                        @include r(420) {
                            right: 12px;
                            bottom: 56px;
                            width: 396px;

                            @include r(394) {
                                top: 25px;
                                right: 12px;
                                width: 370px;
                            }
                        }
                    }
                }
            }
        }

        ::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #3BBB46;
            border-radius: 10px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #3BBB46;
        }

        .test_two {
            display: none;
        }

        .view_error {
            height: 577px;
            overflow: auto;


            .test_blok_s {
                .test_top_blok {
                    .test_titel_s {
                        h4 {
                            color: #3BBB46;
                            text-align: center;
                            margin-bottom: 26px;
                            font-family: Inter-SemiBold;
                        }
                    }

                    .quiz_s {
                        .errors {

                            .quiz_ttitle_s {
                                display: flex;

                                span {
                                    color: #262733;
                                    font-family: Inter-Medium;
                                    font-size: 18px;
                                    width: 10%;
                                }

                                h4 {
                                    color: #262733;
                                    width: 90%;
                                    font-family: Inter-Medium;
                                    font-size: 18px;
                                    padding: 0;
                                    margin-bottom: 22px;
                                    text-align: start;
                                }
                            }

                            .answer_s {
                                .ans {
                                    margin: 0;
                                    padding: 0;
                                    padding-left: 34px;

                                    li {
                                        margin-bottom: 22px;
                                        text-align: start;
                                        display: flex;
                                        align-items: center;

                                        input {
                                            cursor: pointer;
                                            width: 24px;
                                            height: 24px;
                                            margin-right: 6px;
                                        }

                                        .custom-checkbox {
                                            cursor: pointer;
                                            display: block;
                                            font-size: 16px;
                                            line-height: 26px;
                                            margin: 0;
                                            padding: 0 0 0 36px;
                                            position: relative;
                                        }

                                        .custom-checkbox input[type="checkbox"] {
                                            display: none;
                                        }

                                        .custom-checkbox span.checkbox {
                                            background-color: #fff;
                                            border: solid 2px #cccccc;
                                            border-radius: 50%;
                                            cursor: pointer;
                                            display: block;
                                            height: 26px;
                                            margin: 0px;
                                            position: absolute;
                                            left: 0;
                                            top: 0px;
                                            width: 26px;
                                        }

                                        .custom-checkbox input[type='checkbox']:checked+span.checkbox {
                                            background: #3BBB46;
                                            border-color: #3BBB46;
                                            text-align: center;
                                        }

                                        .custom-checkbox input[type='checkbox']:checked+span.checkbox:before {
                                            content: "";
                                            position: absolute;
                                            top: 3px;
                                            left: 7px;
                                            border-bottom: 2px solid #FFF;
                                            border-right: 2px solid #fff;
                                            height: 12px;
                                            width: 8px;
                                            transform: rotate(35deg);
                                        }


                                        .kress-checkbox {
                                            cursor: pointer;
                                            display: block;
                                            font-size: 16px;
                                            line-height: 26px;
                                            margin: 0;
                                            padding: 0 0 0 36px;
                                            position: relative;
                                        }

                                        .kress-checkbox input[type="checkbox"] {
                                            display: none;
                                        }

                                        .kress-checkbox span.checkbox {
                                            background-color: #fff;
                                            border: solid 2px #cccccc;
                                            border-radius: 50%;
                                            cursor: pointer;
                                            display: block;
                                            height: 26px;
                                            margin: 0px;
                                            position: absolute;
                                            left: 0;
                                            top: 0px;
                                            width: 26px;
                                        }

                                        .kress-checkbox input[type='checkbox']:checked+span.checkbox {
                                            background: #FF0029;
                                            border-color: #FF0029;
                                            text-align: center;
                                        }

                                        .kress-checkbox input[type='checkbox']:checked+span.checkbox:before {
                                            content: "";
                                            position: absolute;
                                            top: 0px;
                                            left: 4px;
                                            border-right: 2px solid #fff;
                                            height: 16px;
                                            width: 10px;
                                            transition: .3s;
                                            transform: rotate(45deg);
                                        }

                                        .kress-checkbox input[type='checkbox']:checked+span.checkbox::after {
                                            content: "";
                                            position: absolute;
                                            top: 10px;
                                            transition: .3s;
                                            left: 4px;
                                            border-top: 2px solid #fff;
                                            height: 0px;
                                            width: 16px;
                                            transform: rotate(45deg);
                                        }

                                        label {
                                            cursor: pointer;
                                            width: 90%;
                                            margin: 0;
                                            color: #262733;
                                            font-family: Inter-Medium;
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }


                    }
                }
            }

            .test_bottom_blok {
                display: flex;
                align-items: end;
                justify-content: end;

                button {

                    width: 33%;
                    border-radius: 6px;
                    padding: 6px 21px;
                    border: 1px solid #1895F3;
                    background: #F4F7FF;
                    color: #1895F3;
                    font-family: Inter-Regular;
                    font-size: 16px;
                }
            }
        }

        .test_rezult {
            display: none;
            padding: 36px 39px !important;

            .test_blok_s {
                .test_top_blok {
                    .end_test {
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        margin-top: 164px;
                        width: 99%;

                        @include r(992) {
                            width: 99.5%;

                            @include r(768) {
                                margin-top: 154px;
                                width: 100%;

                                @include r(479) {
                                    width: 101%;
                                }
                            }
                        }

                        .input_item_s {
                            .end_btn_s {
                                border-radius: 12px;
                                border: 1px solid #1895F3;
                                background: transparent;
                                padding: 14px;
                                width: 100%;
                                height: 52px;
                                color: #1895F3;
                                font-family: Inter-Regular;
                                font-size: 15px;
                            }
                        }
                    }

                    .check_s {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .done_s {
                            display: flex;
                            align-items: center;
                            width: 45%;
                            gap: 12px;

                            @include r(768) {
                                gap: 8px;
                            }

                            a {
                                color: #FFF;
                                background: #3BBB46;

                                border-radius: 50%;
                                padding: 12px 16px;
                            }

                            .done_text {

                                p {
                                    margin: 0;
                                    padding: 0;
                                    text-align: start;
                                    color: #262733;
                                    font-family: Inter-Medium;
                                    font-size: 24px;
                                }

                                span {
                                    color: #A8A9AD;
                                    font-family: Inter-Regular;
                                    font-size: 12px;
                                    font-style: normal;

                                    @include r(768) {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }

                        .kress_s {
                            display: flex;
                            align-items: center;
                            width: 45%;
                            gap: 12px;

                            @include r(768) {
                                gap: 8px;
                            }

                            a {
                                color: #FFF;
                                background: #FF0029;
                                border-radius: 50%;
                                padding: 12px 18px;
                            }

                            .kress_text {

                                p {
                                    margin: 0;
                                    padding: 0;
                                    text-align: start;
                                    color: #262733;
                                    font-family: Inter-Medium;
                                    font-size: 24px;
                                }

                                span {
                                    color: #A8A9AD;
                                    font-family: Inter-Regular;
                                    font-size: 12px;
                                    font-style: normal;

                                    @include r(768) {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }

                    .test_rezult_s {
                        h4 {
                            color: #3BBB46 !important;
                            text-align: center;
                            font-family: Inter-SemiBold;
                            font-size: 24px;
                        }
                    }
                }
            }
        }

        .test_s {
            display: none;
            position: absolute;

            .test_blok_s {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 78px;

                .test_top_blok {


                    .wizard_s {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-bottom: 10px;

                        span {
                            color: #51525C;
                            text-align: center;
                            font-family: Inter-Regular;
                            font-size: 15px;
                        }
                    }

                    .progres_s {
                        position: relative;
                        top: 20%;
                        width: 100%;
                        height: 6px;
                        // background: #3BBB46;
                        margin-bottom: 24px;
                        border-radius: 1111px;
                        background: #D1EAFD;
                    }




                    .test_titel_s {
                        padding-bottom: 24px;

                        h4 {
                            color: #3BBB46;
                            text-align: center;
                            font-family: Inter-SemiBold;
                            font-size: 24px;
                            padding: 0;
                        }
                    }

                    .quiz_s {
                        .quiz_ttitle_s {
                            display: flex;

                            span {
                                color: #262733;
                                font-family: Inter-Medium;
                                font-size: 18px;
                                width: 10%;
                            }

                            h4 {
                                color: #262733;
                                width: 90%;
                                font-family: Inter-Medium;
                                font-size: 18px;
                                padding: 0;
                                margin-bottom: 22px;
                                text-align: start;
                            }
                        }

                        .test_bottom_blok {
                            display: flex;
                            align-items: center;
                            justify-content: end;
                            gap: 8px;
                            margin-top: 124px;
                            width: 100%;

                            @include r(479) {
                                margin-top: 105px;
                            }

                            .test_back_s {
                                width: 30%;
                                color: #1895F3;
                                font-family: Inter-Regular;
                                font-size: 16px;
                                font-style: normal;
                                border-radius: 6px;
                                border: 1px solid #1895F3;
                            }

                            .test_next_s {
                                width: 30%;
                                color: #FFF;
                                font-family: Inter-Regular;
                                font-size: 16px;
                                font-style: normal;
                                border-radius: 6px;
                                background: #1895F3;
                            }
                        }

                        .answer_s {
                            .ans {
                                margin: 0;
                                padding: 0;
                                padding-left: 34px;

                                li {
                                    margin-bottom: 22px;
                                    text-align: start;
                                    display: flex;
                                    align-items: center;

                                    input {
                                        cursor: pointer;
                                        width: 24px;
                                        height: 24px;
                                        margin-right: 6px;
                                    }

                                    label {
                                        cursor: pointer;
                                        width: 90%;
                                        margin: 0;
                                        color: #262733;
                                        font-family: Inter-Medium;
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }


            }

        }

        .reg_title {
            text-align: center;
            padding: 36px;
            background-repeat: no-repeat;
            // background-position: 89% 85%;
            width: 100%;
            background-position-y: 87%;
            background-position-x: 89%;

            @include r(992) {
                width: 98%;
                background-position-y: 87%;
                background-position-x: 78%;

                @include r(768) {
                    width: 100%;
                    background-position-y: 88%;
                    background-position-x: 73%;

                    @include r(479) {
                        width: 100%;
                        background-position-y: 86%;
                        background-position-x: 82%;

                        @include r(420) {
                            background-position-y: 87%;
                            background-position-x: 76%;

                            @include r(394) {
                                background-position-y: 88%;
                                background-position-x: 70%;
                            }
                        }
                    }
                }
            }

            h4 {
                color: #1895F3;
                font-family: Inter-SemiBold;
                font-size: 28px;
                padding: 12px 0 8px;
                margin: 0;
            }

            img {
                filter: invert(50%) sepia(41%) saturate(4469%) hue-rotate(183deg) brightness(97%) contrast(96%);
            }

            p {
                color: #5DB5F7;
                font-size: 14px;
                font-family: Inter-Regular;
                padding-bottom: 40px;
                width: 70%;
                margin: auto;
            }

            form {

                .input-item input:focus+label,
                .input-item input:valid+label {
                    font-size: 12px;
                    top: 8px
                }

                .input-item {
                    margin-bottom: 16px;
                    position: relative;



                    label {
                        position: absolute;
                        left: 20px;
                        margin: 0;
                        top: 14px;
                        color: #676870;
                        font-family: Inter-Regular;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        transition: .3s;
                    }


                    .input-btn {
                        position: absolute;
                        top: 0;
                        right: 20px;
                        height: 100%;
                        font-size: 12px;
                        font-family: Inter-Regular;
                        color: #1895F3;
                    }
                }

                input {
                    background: none;
                    border-radius: 12px;
                    border: 1px solid#74BFF8;
                    padding: 30px 16px 10px 16px;
                    height: 56px;
                    color: #676870;
                    font-size: 16px;
                    font-family: Inter-Regular;

                    &::placeholder {
                        color: #676870;
                    }

                    &:focus-visible {
                        border-radius: 12px;
                        border: 1px solid #74BFF8;
                    }
                }

                .d_select {
                    width: 100%;
                    background: none;
                    padding: 0 22px !important;
                    font-size: 16px;
                    color: #676870;
                    height: 56px;
                    margin-bottom: 110px;
                    border-radius: 12px;
                    border: 1px solid#74BFF8;

                    option {
                        min-height: unset !important;
                        border-radius: 12px;
                        border: 1px solid #FFF;
                        background: #1290EF;
                        font-family: Inter-Regular;
                        font-style: normal;
                        font-size: 16px;
                    }

                }

                .nice-select {
                    .current {
                        position: absolute;
                        top: 7px;

                    }

                    .list {
                        width: 100%;
                        border-radius: 12px;
                        border: 1px solid #FFF;
                        background: #1290EF;
                        padding: 6px;
                        margin-top: 0;

                        li {
                            width: 96%;
                            margin: auto;
                            padding: 0 8px;
                            color: #FFF;
                            position: relative;
                        }

                        .selected.focus {
                            &::after {
                                position: absolute;
                                content: "";
                                right: 12px;
                                top: 10px;
                                border-bottom: 2px solid #FFFFFF;
                                border-right: 2px solid #FFFFFF;
                                width: 10px;
                                transform: rotate(38deg);
                                height: 15px;
                            }
                        }
                    }

                    .option.selected {
                        font-weight: normal;
                    }
                }

                .nice-select .option:hover,
                .nice-select .option.focus,
                .nice-select .option.selected.focus {
                    border-radius: 7px;
                    color: #FFF;
                    background: #1C97F4;
                    padding: 0 8px;
                }

                .nice-select::after {
                    border-bottom: 2px solid #fff;
                    border-right: 2px solid #fff;
                    width: 10px;
                    height: 10px;
                    transition: .3s;
                    position: absolute;
                    right: 12px;
                    top: 45%;
                }
            }

            .reg_next {
                width: 100%;
                color: #fff;
                height: 52px;
                font-size: 16px;
                font-family: Inter-Regular;
                padding: 14px;
                border-radius: 12px;
                background: #1895F3;
                border: 1px solid #1895F3;
            }
        }
    }

    .pass_back {
        background-color: #1694F1;
        background: linear-gradient(90deg, #1694F1 18.2px, transparent 1%) center, linear-gradient(#1694F1 18.2px, transparent 1%) center, #ffffff;
        background-size: 19px 19px;
        border-radius: 36px;

        .pass_test {
            padding: 45px 50px;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 35px;

            @include r(768) {
                padding: 38px 26px;

                @include r(479) {
                    background-position: bottom;

                    @include r(420) {
                        padding: 25px 50px;
                    }
                }
            }

            .t_academy {
                display: flex;
                align-items: center;

                @include r(576) {
                    justify-content: center;
                }

                img {
                    padding-right: 18px;

                    @include r(768) {
                        padding-right: 10px;
                    }
                }

                p {
                    width: 35%;
                    color: #F4F7FF;
                    font-family: Inter-SemiBold;
                    font-size: 24px;
                    font-style: normal;

                    @include r(768) {
                        font-size: 22px;
                    }
                }
            }

            .t_definition {
                p {
                    padding-top: 26px;
                    color: #FFF;
                    font-family: Inter-Regular;
                    width: 45%;
                    font-size: 16px;

                    @include r(992) {
                        width: 50%;
                        font-size: 14px;

                        @include r(768) {
                            width: 46%;

                            @include r(576) {
                                margin: auto;
                            }
                        }


                    }
                }
            }

            .unicef_logo {
                padding-top: 150px;

                @include r(768) {
                    padding-top: 110px;

                    @include r(576) {
                        padding-top: 90px;
                        text-align: center;

                        @include r(479) {
                            padding-top: 50px;
                        }
                    }
                }

                p {
                    padding-top: 8px;
                    color: #FFF;
                    font-family: Inter-Regular;
                    font-size: 14px;
                }
            }
        }
    }


}

form {

    .t_reg {
        position: absolute;
        right: 360px;
        bottom: 250px;
        width: 435px;
        height: 560px;

        @include r(992) {
            right: 50px;

            @include r(768) {
                right: 40px;
                bottom: 166px;
                width: 358px;

                @include r(576) {
                    right: 100px;
                    bottom: 190px;

                    @include r(479) {
                        right: 58px;

                        @include r(420) {
                            height: 485px;
                            top: 20px;
                            width: 389px;
                            border-radius: 24px;
                            background: transparent;
                            right: 15px;
                            box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15);

                            @include r(394) {
                                top: 25px;
                                right: 12px;
                                width: 370px;
                            }
                        }
                    }
                }
            }
        }

        .t_register {
            border-radius: 24px;
            background: #F4F7FF;
            box-shadow: 0px 0px 34px 0px rgba(12, 69, 111, 0.10);

            .contact_title {
                width: 100%;
                height: 100%;

                @include r(420) {
                    padding: 32px;
                }

                h4 {
                    margin-bottom: 20px;
                }
            }

            .reg_title {
                background-position: 80% 87.3%;

                @include r(768) {
                    background-position: 60% 81%;

                    @include r(420) {
                        background-position: 50% 70%;

                        @include r(394) {
                            background-position: 45% 76%;
                        }
                    }
                }

                .check {
                    font-size: 65px;
                    background: #CCF5D8;
                    border-radius: 50%;
                    color: #21E738;

                    i {
                        padding: 20px;

                    }
                }

                img {
                    filter: invert(50%) sepia(41%) saturate(4469%) hue-rotate(183deg) brightness(97%) contrast(96%);
                }

                h4 {
                    color: #1895F3 !important;
                }

                .reg_next {
                    padding: 15px 138px;

                    @include r(768) {
                        padding: 0;
                    }
                }

                .contact_btn {
                    margin-top: 65px;
                    color: #fff;
                }

                .form-item {

                    input {
                        border-radius: 12px;
                        color: #676870 !important;
                        border: 1px solid #74BFF8;
                        font-family: Inter-Regular;
                        padding: 16px;
                        height: 56px;
                        background: transparent;

                        @include r(768) {
                            height: 50px;
                        }

                        &::placeholder {
                            color: #676870;

                        }
                    }

                    .contact_btn {
                        border: 1px solid #1895F3;
                        border-radius: 12px;
                        color: #fff;
                        background: #1895F3;

                    }

                }

                .textarea-form {
                    textarea {
                        background: transparent;
                        border-radius: 12px;
                        border: 1px solid #74BFF8;
                        color: #676870;
                        padding: 10px;

                        @include r(394) {
                            width: 100%;
                            height: 232px;
                        }

                        &:focus-visible {
                            outline: none;
                        }
                    }

                    .main_btn {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-top: 24px;
                        margin: 0;

                        .back_btn {
                            color: #1895F3;
                            font-family: Inter-Regular;
                            font-size: 16px;
                            background: transparent;
                            padding: 12px 46px;
                            border-radius: 12px;
                            border: 1px solid#1895F3;

                            @include r(394) {
                                width: 49%;
                            }
                        }

                        .send_btn {
                            color: #fff;
                            font-family: Inter-Regular;
                            font-size: 16px;
                            border: 1px solid#1895F3;
                            padding: 12px 46px;
                            border-radius: 12px;
                            background: #1895F3;

                            @include r(394) {
                                width: 49%;
                            }
                        }
                    }

                }
            }
        }


    }
}

.modal-backdrop.show {
    opacity: 0;
}