@@include('templates/header.html')
<main class="minheight all_article">
    <div class="breadcrumb_all">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Testlar</li>
                </ol>
            </nav>
            <div class="title">
                <h1>Aloqa</h1>
            </div>

        </div>
    </div>
    <div class="tests">
        <div class="container">
            <div class="pass_back">
                <div class="pass_test" style="background-image: url(../../img/text_back.png)">
                    <div class="t_academy">
                        <img src="./img/tma-new-logo-big.png" alt="">
                        <p>Toshkent Tibbiyot Akademiyasi</p>
                    </div>
                    <div class="t_definition">
                        <p>«Knowladge Hub» platformasi Toshkent Tibbiyot Akademiyasi tomonidan, talabalar bilimlarini
                            bo’lishishlari, hamda bilimlarini sinovdan o’tkazishlari uchun tashkillandi.</p>
                    </div>

                    <div class="unicef_logo">
                        <img src="./img/unicef-3 1.png" alt="">
                        <p>bilan hamkorlikda</p>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="form-wizard t_reg">

                    <div class="myContainer  register t_register">
                        <div class="form-container animated reg_title contact_title"
                            style="background-image: url(../../img/reg_back.svg);">
                            <img src="./img/tibbiyot.png" alt="">

                            <h4>Murojaat yo’llang!
                            </h4>
                            <div class="form-item form-group">
                                <input type="text" class="form-control shadow-none" placeholder="FIO*">
                            </div>
                            <div class="form-item form-group">
                                <input type="text" class="form-control shadow-none" placeholder="Elektron manzil*">
                            </div>
                            <div class="form-item form-group">
                                <input type="number" class="form-control shadow-none" placeholder="Telefon*">
                            </div>
                            <div class="form-item form-group text-center mar-b-0">
                                <button type="button" class="reg_next next  contact_btn shadow-none">Boshlash</button>
                            </div>
                        </div>
                        <div class="form-container animated reg_title contact_title"
                            style="background-image: url(../../img/reg_back.svg);">
                            <img src="./img/tibbiyot.png" alt="">

                            <h4>Murojaat yo’llang!
                            </h4>
                            <div class="textarea-form">
                                <textarea name="text" placeholder="Murojaat matni*" class="shadow-none" id="matn"
                                    cols="40" rows="13"></textarea>
                                <div class="main_btn form-group text-center mar-b-0">
                                    <button type="button" class="back_btn back">Orqaga</button>
                                    <button type="button" class="send_btn next">Jo'natish</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-container animated reg_title contact_title"
                            style="background-image: url(../../img/reg_back.svg);">
                            <a href="" class="check">
                                <i class="fas fa-solid fa-check"></i>
                            </a>
                            <h4>Murojaatigiz muvafaqqiyatli yuborildi!
                            </h4>
                            <p>Mutaxassislarimiz muammoingizni imkon qadar tezroq hal qilishga yordam beradi. </p>

                            <div class="form-item form-group text-center mar-b-0">
                                <button type="submit" class="reg_next  mt-160 contact_btn shadow-none">Rahmat!</button>
                            </div>
                        </div>

                    </div>
            </form>


        </div>
    </div>
</main>
@@include('templates/footer.html')