@@include('templates/header.html')
<main class="minheight">
    <div class="main_register">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-12 m-auto">
                    <div class="main_banner">
                        <video id="video_1" class="video-js  biography tabcontent" controls preload="auto" width="640"
                            height="264" poster="./img/video_img.png" data-setup="{}">
                            <source src="./img/video.mp4" type="video/mp4" />
                            <source src="MY_VIDEO.webm" type="video/webm" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5
                                    video</a>
                            </p>
                        </video>
                        <video id="video_2" class="video-js biography video_2 tabcontent" controls preload="auto"
                            width="640" height="264" poster="./img/internal_banner.png" data-setup="{}">
                            <source src="./img/video.mp4" type="video/mp4" />
                            <source src="MY_VIDEO.webm" type="video/webm" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5
                                    video</a>
                            </p>
                        </video>
                        <video id="video_3" class="video-js biography tabcontent video_3" controls preload="auto"
                            width="640" height="264" poster="./img/internal_banner.png" data-setup="{}">
                            <source src="./img/video.mp4" type="video/mp4" />
                            <source src="MY_VIDEO.webm" type="video/webm" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5
                                    video</a>
                            </p>
                        </video>
                        <video id="video_4" class="video-js biography video_4 tabcontent" controls preload="auto"
                            width="640" height="264" poster="./img/video_img.png" data-setup="{}">
                            <source src="./img/video.mp4" type="video/mp4" />
                            <source src="MY_VIDEO.webm" type="video/webm" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5
                                    video</a>
                            </p>
                        </video>
                        <video id="video_5" class="video-js biography video_5 tabcontent" controls preload="auto"
                            width="640" height="264" poster="./img/video_img.png" data-setup="{}">
                            <source src="./img/video.mp4" type="video/mp4" />
                            <source src="MY_VIDEO.webm" type="video/webm" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5
                                    video</a>
                            </p>
                        </video>
                        <video id="video_6" class="video-js biography video_6 tabcontent" controls preload="auto"
                            width="640" height="264" poster="./img/video_img.png" data-setup="{}">
                            <source src="./img/video.mp4" type="video/mp4" />
                            <source src="MY_VIDEO.webm" type="video/webm" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5
                                    video</a>
                            </p>
                        </video>
                        <a class=" d-none play_logo" href="#"><img src="./img/play-fill.svg" alt=""></a>
                        <h4>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davri</h4>
                        <div class="link_menu tab">
                            <button class="tablinks active_menu" onclick="openCity(event, 'video_1')" href="#"><img
                                    src="./img/baby.4 1.png" alt=""></button>
                            <button class="tablinks" onclick="openCity(event, 'video_2')" href="#"><img
                                    src="./img/heart.32 1.png" alt=""></button>
                            <button class="tablinks" onclick="openCity(event, 'video_3')" href="#"><img
                                    src="./img/fallopian-tubes 1.png" alt=""></button>
                            <button class="tablinks" onclick="openCity(event, 'video_4')" href="#"><img
                                    src="./img/virus.2 1.png" alt=""></button>
                            <button class="tablinks" onclick="openCity(event, 'video_5')" href="#"><img
                                    src="./img/scalpel.5 1.png" alt=""></button>
                            <button class="tablinks" onclick="openCity(event, 'video_6')" href="#"><img
                                    src="./img/kidney 1.png" alt=""></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 m-auto">
                    <div class="register">
                        <div class="reg_title" style="background-image: url(../../img/reg_back.svg);">
                            <img src="./img/tibbiyot.png" alt="">
                            <h4>O’zingizni sinang!
                            </h4>
                            <p>Testni boshlash uchun quyidagi hududlarni to’ldiring.</p>
                            <form>
                                <div class="form-group label_test">
                                    <!-- <label for="name">Ismingiz</label> -->
                                    <input type="text" required class="form-control" id="ism">
                                    <label for="ism">Ismingiz*</label>
                                </div>
                                <div class="form-group label_select">
                                    <select id="yonalish" required class="nice-select form-control d_select">
                                        <option value="0">Yo’nalish*</option>
                                        <option value="1">Geografiya </option>
                                        <option value="2">Biologiya va geodeziya</option>
                                        <option value="3">Odam anatomiyasi</option>
                                        <option value="3">Tibbiyot</option>
                                    </select>

                                </div>
                            </form>
                            <a class="reg_next" href="./tests.html">boshlash</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="articles">

        <div class="article_back" style="background-image: url(../../img/article_back.png) !important;">
            <div class="container">
                <div class="article_title">
                    <h2>
                        Yo’nalishlar bo’yicha maqolalar
                    </h2>
                </div>
                <div class="article_menu " id="scrollContainer">
                    <ul class="row ml-120">
                        <li class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img src="./img/article_!.png" alt="">
                                <p>Аллергология и иммунология </p>
                            </a></li>
                        <li class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img src="./img/article_2.png" alt="">
                                <p>Медицина</p>
                            </a></li>
                        <li class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img src="./img/article_3.png" alt="">
                                <p>Хирургия</p>
                            </a></li>
                        <li class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img src="./img/article_4.png" alt="">
                                <p>Инфекционные заболевания</p>
                            </a></li>
                        <li class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img src="./img/article_5.png" alt="">
                                <p>Вирус</p>
                            </a></li>
                        <li class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img src="./img/article_6.png" alt="">
                                <p>Болезни</p>
                            </a></li>
                    </ul>
                    <ul class="row ml-44">
                        <li class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img src="./img/article_7.png" alt="">
                                <p>Аллергология </p>
                            </a></li>
                        <li class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img src="./img/article_8.png" alt="">
                                <p>Медицина</p>
                            </a></li>
                        <li class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img src="./img/article_9.png" alt="">
                                <p>Хирургия</p>
                            </a></li>
                        <li class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img src="./img/article_10.png" alt="">
                                <p>Инфекционные</p>
                            </a></li>
                        <li class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img src="./img/article_11.png" alt="">
                                <p>Болезни</p>
                            </a></li>
                    </ul>
                    <ul class="row ">
                        <li class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img src="./img/article_12.png" alt="">
                                <p>Хирургия</p>
                            </a></li>
                        <li class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img src="./img/article_13.png" alt="">
                                <p>Инфекционные</p>
                            </a></li>
                        <li class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img src="./img/article_14.png" alt="">
                                <p>Болезни</p>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="most_articles">
        <div class="container">
            <div class="most_title">
                <h2>Eng ko’p o’qilgan maqolalar</h2>
                <div class=" d-flex justify-content-center align-items-center">
                    <p>Use screenshots to convey capabilities, the look and feel, and the experience of your app to
                        potential users for
                        better app discovery.</p>
                </div>
            </div>




            <div class="row slider most_slider">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="medicine">
                        <a href="./internal.html">
                            <img src="./img/slick.png" alt="">
                            <span>Tibbiyot</span>
                            <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="medicine">
                        <a href="./internal.html">
                            <img src="./img/slick.png" alt="">
                            <span>Tibbiyot</span>
                            <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="medicine">
                        <a href="./internal.html">
                            <img src="./img/slick.png" alt="">
                            <span>Tibbiyot</span>
                            <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="medicine">
                        <a href="./internal.html">
                            <img src="./img/slick.png" alt="">
                            <span>Tibbiyot</span>
                            <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="medicine">
                        <a href="./internal.html">
                            <img src="./img/slick.png" alt="">
                            <span>Tibbiyot</span>
                            <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="medicine">
                        <a href="./internal.html">
                            <img src="./img/slick.png" alt="">
                            <span>Tibbiyot</span>
                            <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="medicine">
                        <a href="./internal.html">
                            <img src="./img/slick.png" alt="">
                            <span>Tibbiyot</span>
                            <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="medicine">
                        <a href="./internal.html">
                            <img src="./img/slick.png" alt="">
                            <span>Tibbiyot</span>
                            <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="medicine">
                        <a href="./internal.html">
                            <img src="./img/slick.png" alt="">
                            <span>Tibbiyot</span>
                            <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                        </a>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="directions">
        <div class="container">
            <div class="most_title direction_title">
                <h2>Turli yo’nalishlardan bir shingil</h2>
            </div>
            <div class="direct">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-6 col-12 m-auto">
                        <div class="medicine madicine_cart ">
                            <a href="./internal.html">
                                <img src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>
                        <div class="medicine madicine_cart medicine_small">
                            <img class="small_pic" src="./img/slick.png" alt="">
                            <a href="./internal.html">
                                <span>Tibbiyot</span>
                                <p class="small_p"> Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 col-12 m-auto">
                        <div class="medicine madicine_cart medicine_small ">
                            <img class="small_pic" src="./img/slick.png" alt="">
                            <a href="./internal.html">
                                <span>Tibbiyot</span>
                                <p class="small_p">Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                </p>
                            </a>
                        </div>
                        <div class="medicine madicine_cart">
                            <a href="./internal.html">
                                <img src="./img/slick2.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 col-12 m-auto">
                        <div class="medicine madicine_cart">
                            <a href="./internal.html">
                                <img src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>
                        <div class="medicine madicine_cart medicine_small">
                            <img class="small_pic" src="./img/slick.png" alt="">
                            <a href="./internal.html">
                                <span>Tibbiyot</span>
                                <p class="small_p">Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d_pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination home_pagination">
                        <li class="page-item home_page_item">
                            <a class="page-link home_link shadow-none" href="#" aria-label="Previous">
                                <i class="fas fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="page-item home_page_item">
                            <a class="page-link home_link shadow-none" href="#" aria-label="Previous">
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item home_page_item"><a class="page-link home_link shadow-none" href="#">1</a>
                        </li>
                        <li class="page-item home_page_item"><a class="page-link home_link shadow-none" href="#">2</a>
                        </li>
                        <li class="page-item home_page_item"><a class="page-link home_link shadow-none" href="#">3</a>
                        </li>
                        <li class="page-item home_page_item"><a class="page-link home_link shadow-none" href="#">...</a>
                        </li>
                        <li class="page-item home_page_item"><a class="page-link home_link shadow-none" href="#">10</a>
                        </li>
                        <li class="page-item home_page_item">
                            <a class="page-link home_link shadow-none" href="#" aria-label="Next">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="page-item home_page_item">
                            <a class="page-link home_link shadow-none" href="#" aria-label="Next">
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
@@include('templates/footer.html')