@@include('templates/header.html')
<main class="minheight">
    <div class="breadcrumb_all">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Xirurgiya</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Можно ли вылечить простуду за один день?</li>
                </ol>
            </nav>

        </div>
    </div>
    <div class="internal_about">
        <div class="container">
            <div class="internal">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-12 line_l">
                        <div class="internal_top">
                            <div class="date_time">
                                <span>12:32 / 23.12.2023</span>
                            </div>
                            <div class="social_network">
                                <ul class="network">
                                    <li class="networ_item"><a class="networ_item_link" href="#"><i
                                                class="fab fa-telegram"></i></a></li>
                                    <li class="networ_item"><a class="networ_item_link" href="#"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                    <li class="networ_item"><a class="networ_item_link" href="#"><i
                                                class="fab fa-twitter"></i></a></li>
                                    <li class="networ_item"><a class="networ_item_link" href="#"><i
                                                class="fab fa-instagram"></i></a></li>
                                    <li class="networ_item"><a class="networ_item_link" href="#"><i
                                                class="fab fa-whatsapp"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="internal_left">
                            <div class="internal_title">
                                <h4>Можно ли вылечить простуду за один день?</h4>
                                <p>Поговорка о леченой простуде, проходящей за неделю, и нелеченой – за 7 дней,
                                    придумана не
                                    зря. Действительно, если у вас уже весь простудный «букет»: насморк, кашель,
                                    головная
                                    боль, саднящее горло, – то придется помучиться всю неделю, ну, может, дней пять,
                                    если
                                    организм сильный. Тогда можно облегчить свое состояние с помощью препаратов,
                                    снимающих
                                    симптомы простуды. Их сегодня выпускается большое количество. Это порошки для
                                    приготовления лечебного напитка. Содержат они, как правило, парацетамол
                                    (жаропонижающее
                                    и противовоспалительное вещество), а также средства, сужающие сосуды и облегчающие
                                    носовое дыхание, витамин С, кофеин, уменьшающий головную боль.</p>
                            </div>
                            <div class="internal_image">
                                <img src="./img/internal_banner.png" alt="">
                            </div>
                            <div class="internal_title">
                                <h4>Можно ли вылечить простуду за один день?</h4>
                                <p>Ответ: захватить простуду в самом начале и тут же принять меры. А начало – это не
                                    тогда, когда вы уже вовсю чихаете, а в горле как будто наждаком скребут. Самые
                                    первые признаки неблагополучия – чувствуется легкий дискомфорт в горле и чуть-чуть
                                    свербит в носу. Этот момент и надо отследить. <br><br>
                                    Что делать?</p>
                                <p> 1. Прополоскать горло любым дезинфицирующим раствором: фурацилином, мирамистином,
                                    настойкой календулы, эвкалипта, отварами трав (шалфей, ромашка). Если в доме ничего
                                    этого нет, можно сделать такой раствор: стакан теплой воды, по 1 ч.л. соды и соли и
                                    несколько капель йода. (Внимание: йод может вызвать аллергическую реакцию!)
                                    Полоскать горло надо несколько раз в день.</p>
                                <p>2. Промыть нос соленой водой. Можно купить готовый раствор в аптеке, а можно
                                    воспользоваться тем же, что и для горла.</p>
                            </div>
                            <div class="internal_image">
                                <img src="./img/internal_banner1.png" alt="">
                            </div>
                            <div class="internal_title">
                                <p>3. Намазать крылья носа бальзамом «Звездочка», под носом – оксолиновой мазью.
                                    Если даже вы не справитесь с простудой за один день, то благодаря перечисленным
                                    мерам она будет протекать гораздо легче.</p>
                            </div>
                            <div class="internal_title">
                                <h4>Чем помочь при простуде?</h4>
                                <p>Если справиться с простудой в самом начале не удалось и вы все-таки заболели, первое,
                                    что надо сделать, – остаться дома. А еще лучше – лечь в кровать и поспать. Сон –
                                    прекрасное средство от многих болезней, и тем более от простудных.
                                    Во время болезни забудьте обо всех делах – и рабочих, и домашних. Не ходите на
                                    работу – ваш героизм никому не нужен, и в первую очередь вам самим. И не затевайте
                                    генеральную уборку, оставшись дома. Иначе вы рискуете заболеть всерьез и надолго.
                                    Отдыхайте, больше спите; в первые дни не стоит смотреть ТВ, читать и, конечно,
                                    сидеть за компьютером. Организм должен набраться сил, чтобы справиться с болезнью.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="similar_articles">
                            <div class="similar_title">
                                <h4>O’xshash maqolalar</h4>
                            </div>
                            <div class="date_time time_r">
                                <span>12:32 / 23.12.2023</span>
                                <h6>Можно ли вылечить простуду за один день?</h6>
                            </div>
                            <div class="date_time time_r">
                                <span>12:32 / 23.12.2023</span>
                                <h6>Denis Manturov co-chairs regular meeting of Subcommittee on Cooperation in Industry
                                </h6>
                            </div>
                            <div class="date_time time_r">
                                <span>12:32 / 23.12.2023</span>
                                <h6>Alexei Overchuk attends 10th Forum of Russian and Belarusian Regions</h6>
                            </div>
                            <div class="date_time time_r">
                                <span>12:32 / 23.12.2023</span>
                                <h6>The Government determines the parameters for the pilot programme on introducing a
                                    customs monitoring system</h6>
                            </div>
                            <div class="date_time time_r">
                                <span>12:32 / 23.12.2023</span>
                                <h6>The Government extends simplified procedure for importing electronic devices and
                                    equipment into Russia</h6>
                            </div>
                            <div class="date_time time_r">
                                <span>12:32 / 23.12.2023</span>
                                <h6>Denis Manturov co-chairs regular meeting of Subcommittee on Cooperation in Industry
                                </h6>
                            </div>
                            <div class="date_time time_r">
                                <span>12:32 / 23.12.2023</span>
                                <h6>Alexei Overchuk attends 10th Forum of Russian and Belarusian Regions</h6>
                            </div>
                            <div class="date_time time_r">
                                <span>12:32 / 23.12.2023</span>
                                <h6>The Government determines the parameters for the pilot programme on introducing a
                                    customs monitoring system</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@@include('templates/footer.html')