@@include('templates/header.html')
<main class="minheight all_article">
    <div class="search_page" style="background-image: url(././img/search_.png);">
        <div class="container">
            <div class="search search_back">
                <div class="search_text">
                    <p>Qidiruv natijasi</p>
                    <h4>12 ta ma’lumot topildi</h4>
                </div>
                <form>

                    <label for="search-input">
                        <i class="fas fa-search search_input"></i>
                    </label>
                    <input type="text" class="shadow-none" name="search" id="search-input" placeholder="Mikroinsult">
                    <button type="submit" id="search-button">
                        <p>Qidirish</p>
                        <a class="seach_icon" href="">
                            <i class="fas fa-search search_input"></i>
                        </a>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="article_menus search_menus ">
        <div class="container">
            <div class="a_menu">

                <a class="clickable click_all clickable_active" href="#">Barchasi<span>(4323)</span></a>
                <a class="clickable" href="#"><img src="./img/article_!.png" alt="">Аллергология и иммунология
                    <span>(1232)</span></a>
                <a class="clickable" href="#"><img src="./img/article_2.png" alt="">Медицина <span>(266)</span></a>


            </div>
        </div>
    </div>
    <div class="article_product">
        <div class="container">
            <div class="a_products">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
            <div class="d_pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination home_pagination pagenation_all">
                        <li class="page-item  webinars_pagination webinars_pagination">
                            <a class="page-link  webin_link webin_link shadow-none" href="#" aria-label="Previous">
                                <i class="fas fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="page-item  webinars_pagination">
                            <a class="page-link  webin_link shadow-none" href="#" aria-label="Previous">
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item  webinars_pagination"><a class="page-link  webin_link shadow-none"
                                href="#">1</a></li>
                        <li class="page-item  webinars_pagination"><a class="page-link  webin_link shadow-none"
                                href="#">2</a></li>
                        <li class="page-item  webinars_pagination"><a class="page-link  webin_link shadow-none"
                                href="#">3</a></li>
                        <li class="page-item  webinars_pagination"><a class="page-link  webin_link shadow-none"
                                href="#">...</a></li>
                        <li class="page-item  webinars_pagination"><a class="page-link  webin_link shadow-none"
                                href="#">10</a></li>
                        <li class="page-item  webinars_pagination">
                            <a class="page-link  webin_link shadow-none" href="#" aria-label="Next">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="page-item  webinars_pagination">
                            <a class="page-link  webin_link shadow-none" href="#" aria-label="Next">
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
@@include('templates/footer.html')