@@include('templates/header.html')
<main class="minheight all_article">
    <div class="breadcrumb_all">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Test topshirish</li>
                </ol>
            </nav>
            <div class="title">
                <h1>Test topshirish</h1>
            </div>

        </div>
    </div>
    <div class="tests">
        <div class="container">
            <div class="pass_back">
                <div class="pass_test" style="background-image: url(../../img/text_back.png);">
                    <div class="t_academy">
                        <img src="./img/tma-new-logo-big.png" alt="">
                        <p>Toshkent Tibbiyot Akademiyasi</p>
                    </div>
                    <div class="t_definition">
                        <p>«Knowladge Hub» platformasi Toshkent Tibbiyot Akademiyasi tomonidan, talabalar bilimlarini
                            bo’lishishlari, hamda bilimlarini sinovdan o’tkazishlari uchun tashkillandi.</p>
                    </div>

                    <div class="unicef_logo">
                        <img src="./img/unicef-3 1.png" alt="">
                        <p>bilan hamkorlikda</p>
                    </div>
                </div>
            </div>
            <div class="register_test ">
                <div class="reg_title tests_s d-none" style="background-image: url(./img/test_backs.svg);">
                    <img src="./img/tibbiyot.png" alt="">
                    <h4>O’zingizni sinang!
                    </h4>
                    <p>Testni boshlash uchun quyidagi hududlarni to’ldiring.</p>
                    <form>
                        <div class="inputs">
                            <div class="form-group input-item">
                                <input type="text" id="name" required class="form-control  shadow-none input-reg">
                                <label for="name">Ism-familiya*</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="nice-select shadow-none form-control d_select">
                                <option data-display="Yo’nalish*">Yo’nalish*</option>
                                <option value="1">Geografiya </option>
                                <option value="2">Biologiya va geodeziya</option>
                                <option value="3">Odam anatomiyasi</option>
                                <option value="3">Tibbiyot</option>
                            </select>

                        </div>
                        <button type="button" class="reg_next next_test" href="#">boshlash</button>
                    </form>
                </div>
                <div class="reg_title test_s d-block" style="background-image: url(./img/test_backs.svg);">
                    <div class="test_blok_s">

                        <div class="test_top_blok">

                            <div class="test_titel_s">
                                <h4>O’zingizni sinang!</h4>
                            </div>
                            <div class="wizard_s">
                                <span>
                                    Bialogiya
                                </span>
                                <span>
                                    1\10
                                </span>
                            </div>
                            <div class="progres_s" role="progressbar" aria-valuemin="0" aria-valuemax="100">

                            </div>
                            <form class="quiz_s test_one">
                                <div class="quiz_ttitle_s">
                                    <span>1 .</span>
                                    <h4>К микробным иммуномодуляторам относятся следующие препараты? </h4>
                                </div>
                                <div class="answer_s">
                                    <ul class="ans">
                                        <li>

                                            <input type="radio" id="test_one" name="fav_test">
                                              <label for="test_one">Микробным</label>
                                        </li>
                                        <li>

                                            <input type="radio" id="test_two" name="fav_test">
                                              <label for="test_two">Микробным</label>
                                        </li>
                                        <li>

                                            <input type="radio" id="test_three" name="fav_test">
                                              <label for="test_three">Микробным</label>
                                        </li>
                                        <li>

                                            <input type="radio" id="test_four" name="fav_test">
                                              <label for="test_four">Микробным</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="test_bottom_blok">
                                    <button type="button"
                                        class="btn shadow-none test_back_s back_test  form-control">Orqaga</button>
                                    <button type="button"
                                        class="btn shadow-none test_next_s  form-control">Keyingisi</button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
                <div class="reg_title test_rezult d-none" style="background-image: url(./img/test_backs.svg);">
                    <div class="test_blok_s">

                        <div class="test_top_blok">

                            <div class="test_rezult_s">
                                <h4>Biologiya va Geodeziya yo’nalishidan berilgan javoblar natijasi.</h4>
                            </div>
                            <div class="check_s">
                                <div class="done_s">
                                    <a href="#">
                                        <i class="fas fa-check"></i>
                                    </a>
                                    <div class="done_text">

                                        <span>To’g’ri javoblar</span>
                                        <p>6</p>
                                    </div>
                                </div>
                                <div class="kress_s">
                                    <a href="#">
                                        <i class=" fa fal fa-times"></i>
                                    </a>
                                    <div class="kress_text">

                                        <span>Noto’g’ri javoblar</span>
                                        <p>4</p>
                                    </div>
                                </div>
                            </div>
                            <form class="end_test">
                                <div class="input_item_s">
                                    <button type="button" class="end_btn_s" href="#">Xatolarni ko’rish</button>
                                </div>
                                <div class="input_item_s">
                                    <button type="button" class="end_btn_s" href="#">Qayta topshirish</button>
                                </div>
                                <div class="input_item_s">
                                    <button type="button" class="reg_next next_test" href="#">Boshqa yo’nalish
                                        tanlash</button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
                <div class="reg_title view_error d-none">
                    <div class="test_blok_s">

                        <div class="test_top_blok">

                            <div class="test_titel_s">
                                <h4>Xatolarni ko’rish</h4>
                            </div>

                            <form class="quiz_s test_one">
                                <div class="errors">

                                    <div class="quiz_ttitle_s">

                                        <span>1 .</span>
                                        <h4>К микробным иммуномодуляторам относятся следующие препараты? </h4>
                                    </div>
                                    <div class="answer_s">
                                        <ul class="ans">
                                            <li>
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" value="checkbox1" checked="checked">
                                                    <span class="checkbox"></span>
                                                    Микробным
                                                </label>
                                            </li>
                                            <li>
                                                <label class="kress-checkbox">
                                                    <input type="checkbox" value="checkbox1" checked="checked">
                                                    <span class="checkbox"></span>
                                                    Микробным
                                                </label>
                                            </li>
                                            <li>

                                                <label class="kress-checkbox">
                                                    <input type="checkbox" value="checkbox1">
                                                    <span class="checkbox"></span>
                                                    Микробным
                                                </label>
                                            </li>
                                            <li>

                                                <label class="kress-checkbox">
                                                    <input type="checkbox" value="checkbox1">
                                                    <span class="checkbox"></span>
                                                    Микробным
                                                </label>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="quiz_ttitle_s">

                                        <span>1 .</span>
                                        <h4>К микробным иммуномодуляторам относятся следующие препараты? </h4>
                                    </div>
                                    <div class="answer_s">
                                        <ul class="ans">
                                            <li>
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" value="checkbox1" checked="checked">
                                                    <span class="checkbox"></span>
                                                    Микробным
                                                </label>
                                            </li>
                                            <li>
                                                <label class="kress-checkbox">
                                                    <input type="checkbox" value="checkbox1" checked="checked">
                                                    <span class="checkbox"></span>
                                                    Микробным
                                                </label>
                                            </li>
                                            <li>

                                                <label class="kress-checkbox">
                                                    <input type="checkbox" value="checkbox1">
                                                    <span class="checkbox"></span>
                                                    Микробным
                                                </label>
                                            </li>
                                            <li>

                                                <label class="kress-checkbox">
                                                    <input type="checkbox" value="checkbox1">
                                                    <span class="checkbox"></span>
                                                    Микробным
                                                </label>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="quiz_ttitle_s">

                                        <span>1 .</span>
                                        <h4>К микробным иммуномодуляторам относятся следующие препараты? </h4>
                                    </div>
                                    <div class="answer_s">
                                        <ul class="ans">
                                            <li>
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" value="checkbox1" checked="checked">
                                                    <span class="checkbox"></span>
                                                    Микробным
                                                </label>
                                            </li>
                                            <li>
                                                <label class="kress-checkbox">
                                                    <input type="checkbox" value="checkbox1" checked="checked">
                                                    <span class="checkbox"></span>
                                                    Микробным
                                                </label>
                                            </li>
                                            <li>

                                                <label class="kress-checkbox">
                                                    <input type="checkbox" value="checkbox1">
                                                    <span class="checkbox"></span>
                                                    Микробным
                                                </label>
                                            </li>
                                            <li>

                                                <label class="kress-checkbox">
                                                    <input type="checkbox" value="checkbox1">
                                                    <span class="checkbox"></span>
                                                    Микробным
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </form>

                        </div>

                    </div>
                    <div class="test_bottom_blok">
                        <button type="button" class="btn shadow-none test_back_s   form-control">Orqaga</button>

                    </div>
                </div>
            </div>


        </div>
    </div>
</main>
@@include('templates/footer.html')