@@include('templates/header.html')
<main class="minheight all_article">
    <div class="breadcrumb_all">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Videokurslar</li>
                </ol>
            </nav>
            <div class="title">
                <h1>Videokurslar</h1>
            </div>
        </div>
    </div>
    <div class="article_menus">
        <div class="container">
            <div class="a_menu">

                <a class="clickable" href="#"><img src="./img/article_!.png" alt="">Аллергология и иммунология
                    <span>(1232)</span></a>
                <a class="clickable" href="#"><img src="./img/article_2.png" alt="">Медицина
                    <span>(266)</span></a>
                <a class="clickable" href="#"><img src="./img/article_3.png" alt="">Хирургия<span>(9843)</span></a>
                <a class="clickable" href="#"><img src="./img/article_5.png" alt="">Вирус<span>(1232)</span></a>
                <a class="clickable" href="#"><img src="./img/article_6.png" alt="">Болезни<span>(1232)</span></a>
                <a class="clickable" href="#"><img src="./img/article_4.png" alt="">Инфекционные
                    заболевания<span>(132)</span></a>
                <a class="clickable" href="#"><img src="./img/article_7.png" alt="">Беременность <span>(1232)</span></a>
                <a class="clickable" href="#"><img src="./img/article_8.png" alt="">Эндокринология
                    <span>(1232)</span></a>
                <a class="clickable" href="#"><img src="./img/article_9.png" alt="">Полезные советы
                    <span>(232)</span></a>
                <a class="clickable" href="#"><img src="./img/article_10.png" alt="">Гинекология <span>(12)</span></a>
                <a class="clickable" href="#"><img src="./img/article_11.png" alt="">Диетология <span>(122)</span></a>
                <a class="clickable" href="#"><img src="./img/article_12.png" alt="">Дерматология <span>(123)</span></a>
                <a class="clickable" href="#"><img src="./img/article_13.png" alt="">Травматология
                    <span>(532)</span></a>
                <a class="clickable" href="#"><img src="./img/article_14.png" alt="">Андрология <span>(182)</span></a>

            </div>
        </div>
    </div>
    <div class="article_product">
        <div class="container">
            <div class="a_products">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="medicine medicine_courses">
                            <a href="#">
                                <img class="courses_img" src="./img/slick.png" alt="">
                                <span>Tibbiyot</span>
                                <p>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr</p>
                            </a>
                        </div>

                    </div>

                </div>

            </div>
            <div class="d_pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination home_pagination pagenation_all">
                        <li class="page-item  webinars_pagination webinars_pagination">
                            <a class="page-link  webin_link webin_link shadow-none" href="#" aria-label="Previous">
                                <i class="fas fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="page-item  webinars_pagination">
                            <a class="page-link  webin_link shadow-none" href="#" aria-label="Previous">
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item  webinars_pagination"><a class="page-link  webin_link shadow-none"
                                href="#">1</a></li>
                        <li class="page-item  webinars_pagination"><a class="page-link  webin_link shadow-none"
                                href="#">2</a></li>
                        <li class="page-item  webinars_pagination"><a class="page-link  webin_link shadow-none"
                                href="#">3</a></li>
                        <li class="page-item  webinars_pagination"><a class="page-link  webin_link shadow-none"
                                href="#">...</a></li>
                        <li class="page-item  webinars_pagination"><a class="page-link  webin_link shadow-none"
                                href="#">10</a></li>
                        <li class="page-item  webinars_pagination">
                            <a class="page-link  webin_link shadow-none" href="#" aria-label="Next">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="page-item  webinars_pagination">
                            <a class="page-link  webin_link shadow-none" href="#" aria-label="Next">
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
@@include('templates/footer.html')